@charset "UTF-8";
html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

.postid-184 {
  font-family: "Yu Mincho", "YuMincho", "游明朝体", "Yu Mincho Light", "Noto Serif JP", serif, "ＭＳ 明朝", "MS Mincho", "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "TsukuBRdGothic-Regular", "Georgia", sans-serif;
  color: #5202A3;
  width: 100%;
}
.postid-184 .content_area {
  width: 810px;
  margin: 0 auto;
  padding-top: 8rem;
}
@media all and (max-width: 830px) {
  .postid-184 .content_area {
    width: 96%;
    padding-top: 6rem;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .content_area {
    width: 93%;
  }
}
.postid-184 .midashi {
  font-weight: 600;
  margin-bottom: 60px;
  text-align: center;
}
.postid-184 .midashi span {
  font-weight: 600;
  display: inline-block;
  font-size: clamp(2rem, 4vw, 3.6rem);
  min-height: 0vw;
}
.postid-184 .midashi .first_span {
  position: relative;
}
.postid-184 .midashi .first_span::after {
  display: none;
}
@media all and (max-width: 420px) {
  .postid-184 .midashi .first_span::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 132px;
    height: 58px;
    background-image: url("../images/sp/triangle.png");
    bottom: -12px;
    left: -40px;
    z-index: -1;
  }
}
@media all and (max-width: 830px) {
  .postid-184 .midashi {
    margin-bottom: 4rem;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .midashi {
    margin-bottom: 2.7rem;
  }
}
.postid-184 .last_module {
  margin-bottom: 0;
}
.postid-184 .number {
  font-size: 2.4rem;
}
@media all and (max-width: 420px) {
  .postid-184 .number {
    font-size: 1.8rem;
  }
}
.postid-184 .indent {
  font-size: 2rem;
  text-indent: -1rem;
  padding-left: 1rem;
  padding-top: 3px;
}
@media all and (max-width: 420px) {
  .postid-184 .indent {
    font-size: 1.6rem;
    text-indent: -1.5rem;
    padding-left: 1.5rem;
  }
}
.postid-184 .pc {
  display: block;
}
@media all and (max-width: 830px) {
  .postid-184 .pc {
    display: none;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .pc {
    display: none;
  }
}
.postid-184 .tab {
  display: none;
}
@media all and (max-width: 830px) {
  .postid-184 .tab {
    display: block;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .tab {
    display: none;
  }
}
.postid-184 .sp {
  display: none;
}
@media all and (max-width: 830px) {
  .postid-184 .sp {
    display: none;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .sp {
    display: block;
  }
}
.postid-184 h1 {
  font-size: clamp(2.4rem, 5.5vw, 4.8rem);
  color: #fff;
}
.postid-184 h2 {
  font-size: clamp(2rem, 4vw, 3.6rem);
  min-height: 0vw;
}
.postid-184 h3 {
  font-size: clamp(1.6rem, 3vw, 3.2rem);
  min-height: 0vw;
}
.postid-184 h4 {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
}
.postid-184 dt {
  font-size: 1.8rem;
}
@media all and (max-width: 420px) {
  .postid-184 dt {
    font-size: 1.6rem;
  }
}
.postid-184 p,
.postid-184 a,
.postid-184 dd,
.postid-184 li,
.postid-184 span {
  font-size: clamp(14px, 2vw, 15px);
  color: #5202A3;
  font-weight: 400;
}
.postid-184 a {
  text-decoration: none;
}

.l-header {
  content: "";
  display: inline-block;
  width: 100%;
  height: 696px;
  background-image: url("../images/flower-jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media all and (max-width: 830px) {
  .l-header {
    height: 404px;
  }
}
@media all and (max-width: 420px) {
  .l-header {
    height: 230px;
  }
}
.l-header__logo {
  margin: 0 auto;
  padding: 40px 0 80px 50px;
  width: 100%;
}
@media all and (max-width: 830px) {
  .l-header__logo {
    padding: 20px 0 23px 50px;
  }
  .l-header__logo img {
    width: 56px;
    height: 60px;
  }
}
@media all and (max-width: 420px) {
  .l-header__logo {
    padding: 10px 0 10px 24px;
  }
  .l-header__logo img {
    width: 27px;
    height: 29px;
  }
}
.l-header__catch {
  position: relative;
  width: 810px;
  height: 361px;
  margin: 0 auto;
}
.l-header__catch img {
  position: absolute;
  width: 229px;
  height: auto;
  bottom: 3rem;
  right: 3rem;
  background-size: cover;
}
@media all and (max-width: 830px) {
  .l-header__catch {
    width: 100%;
    height: 73.5%;
  }
  .l-header__catch img {
    display: none;
  }
}
@media all and (max-width: 420px) {
  .l-header__catch img {
    display: block;
    width: 77px;
    height: 46px;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.postid-184 main .l-hedding {
  position: relative;
}
.postid-184 main .l-hedding::before {
  content: "";
  display: inline-block;
  width: 250px;
  height: 841px;
  background-image: url("../images/l-headding__left.png");
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  left: 0;
  top: 0;
}
.postid-184 main .l-hedding::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 841px;
  background-image: url("../images/l-headding__right.png");
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  right: 0;
  top: 0;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-hedding::before {
    width: 33.6%;
    background-position: 150% top;
  }
  .postid-184 main .l-hedding::after {
    width: 33.6%;
    background-position: -50% top;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-hedding::before, .postid-184 main .l-hedding::after {
    display: none;
  }
}
.postid-184 main .l-hedding__content {
  text-align: center;
}
.postid-184 main .l-hedding__content h2 {
  margin-top: 0;
  margin-bottom: 60px;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-hedding__content h2 {
    margin-bottom: 4rem;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-hedding__content h2 {
    margin-bottom: 3rem;
    line-height: 30px;
    letter-spacing: 10%;
  }
}
.postid-184 main .l-hedding__content p:not(:last-child) {
  margin-bottom: 40px;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-hedding__content p:not(:last-child) {
    margin-bottom: 30px;
  }
}
.postid-184 main .l-hedding__content p:last-child {
  margin-bottom: 33px;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-hedding__content p:last-child {
    margin-bottom: 85px;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-hedding__content p:last-child {
    margin-bottom: 0;
  }
}
.postid-184 main .l-hedding__content p span {
  line-height: 50px;
  margin-top: 0;
  display: inline-block;
}
@media all and (max-width: 420px) {
  .postid-184 main .l-hedding__content p span {
    line-height: 35px;
  }
}
.postid-184 main .l-commodity {
  position: relative;
  margin-top: 8rem;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-commodity {
    margin-top: 6rem;
  }
}
.postid-184 main .l-commodity .l-commodity__before,
.postid-184 main .l-commodity .l-commodity__after {
  position: relative;
  height: 99px;
}
.postid-184 main .l-commodity .l-commodity__before img,
.postid-184 main .l-commodity .l-commodity__after img {
  position: absolute;
  width: 71.8%;
  height: 100%;
  background-size: cover;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-commodity .l-commodity__before,
  .postid-184 main .l-commodity .l-commodity__after {
    width: 87.4%;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-commodity .l-commodity__before,
  .postid-184 main .l-commodity .l-commodity__after {
    height: 37px;
  }
  .postid-184 main .l-commodity .l-commodity__before img,
  .postid-184 main .l-commodity .l-commodity__after img {
    width: 96%;
  }
}
.postid-184 main .l-commodity .l-commodity__before img {
  top: 0;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-commodity .l-commodity__before {
    width: 100%;
  }
  .postid-184 main .l-commodity .l-commodity__before img {
    width: 87%;
  }
}
.postid-184 main .l-commodity .l-commodity__after img {
  bottom: 0;
  right: 0;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-commodity .l-commodity__after {
    width: 100%;
  }
  .postid-184 main .l-commodity .l-commodity__after img {
    width: 87%;
  }
}
.postid-184 main .l-commodity__content {
  padding-top: 0;
  margin: 6rem auto;
}
@media all and (max-width: 420px) {
  .postid-184 main .l-commodity__content {
    margin: 3rem auto;
  }
}
.postid-184 main .l-efficacy {
  width: 830px;
  margin: 0 auto;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-efficacy {
    width: 96%;
  }
}
.postid-184 main .l-efficacy .l-efficacy__beside {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-efficacy .l-efficacy__beside {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 91.3%;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-efficacy .l-efficacy__beside {
    width: 97.1%;
  }
}
.postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(1) {
  margin-bottom: 6rem;
  position: relative;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(1) {
    height: auto;
    margin: 0 auto 40px;
  }
}
.postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(1) img {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 1.7rem;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media all and (max-width: 830px) {
  .postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(1) img {
    width: 40%;
    height: auto;
    left: 30%;
    z-index: 3;
    background-size: contain;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(1) img {
    width: 77%;
    left: 11%;
  }
}
.postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  width: 130px;
  height: 238px;
  background-image: url("../images/l-efficacy__before.png");
  position: absolute;
  top: 66.7%;
  left: 0;
  z-index: 5;
  background-size: cover;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(1)::before {
    width: 12%;
    height: 31.8%;
    position: absolute;
    top: 15.3%;
    left: -3rem;
    background-size: contain;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(1)::before {
    display: none;
  }
}
@media all and (max-width: 830px) {
  .postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(3) {
    height: auto;
    margin: 0 auto 40px;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(3) {
    margin: 0 auto;
  }
}
.postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(3) img {
  position: absolute;
  top: 0;
  left: 1.7rem;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media all and (max-width: 830px) {
  .postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(3) img {
    width: 40%;
    height: auto;
    left: 30%;
    z-index: 3;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-efficacy .l-efficacy__beside:nth-of-type(3) img {
    width: 77.6%;
    left: 11%;
  }
}
.postid-184 main .l-efficacy .l-efficacy__vertical {
  width: 650px;
  margin: 0 auto 6rem;
  padding: 2rem 0;
  border-radius: 15px;
  background: #F7E1E1;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-efficacy .l-efficacy__vertical {
    width: 91.3%;
    margin-bottom: 40px;
    border-radius: 13px;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-efficacy .l-efficacy__vertical {
    width: 97.1%;
  }
}
.postid-184 main .l-efficacy .l-efficacy__vertical::before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 245px;
  background-image: url("../images/l-efficacy__after.png");
  position: absolute;
  top: 78%;
  right: -92px;
  background-size: cover;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-efficacy .l-efficacy__vertical::before {
    width: 13.8%;
    height: 27.8%;
    top: 88.3%;
    right: -4.9%;
    background-size: contain;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-efficacy .l-efficacy__vertical::before {
    display: none;
  }
}
.postid-184 main .l-award {
  margin: 0 auto;
  padding-top: 8rem;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-award {
    padding-top: 6rem;
  }
}
.postid-184 main .l-award .l-award__top {
  width: 830px;
  margin: 0 auto 6rem;
}
.postid-184 main .l-award .l-award__top img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-award .l-award__top {
    width: 96%;
  }
  .postid-184 main .l-award .l-award__top img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media all and (max-width: 420px) {
  .postid-184 main .l-award .l-award__top {
    width: 93.3%;
  }
}
.postid-184 main .l-award__swiper {
  display: block;
  width: 100%;
  height: 562px;
  margin-bottom: 6rem;
}
.postid-184 main .l-award__swiper .swiper-pagination {
  bottom: 20px;
}
.postid-184 main .l-award__swiper .swiper-button-prev {
  left: 20px;
}
.postid-184 main .l-award__swiper .swiper-button-prev::after {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-weight: 900;
  color: rgba(82, 2, 163, 0.5);
}
.postid-184 main .l-award__swiper .swiper-button-next {
  right: 20px;
}
.postid-184 main .l-award__swiper .swiper-button-next::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  color: rgba(82, 2, 163, 0.5);
}
@media all and (max-width: 420px) {
  .postid-184 main .l-award__swiper {
    margin-bottom: 3.5rem;
    height: auto;
  }
  .postid-184 main .l-award__swiper .swiper-pagination {
    bottom: 0;
    padding-top: 15px;
    position: relative;
  }
}
.postid-184 main .l-sale {
  margin-bottom: 12rem;
}
@media all and (max-width: 420px) {
  .postid-184 main .l-sale {
    margin-bottom: 0;
  }
}
.postid-184 main .l-sale__content {
  width: 777px;
  margin: 0 auto;
}
@media all and (max-width: 830px) {
  .postid-184 main .l-sale__content {
    width: 100%;
  }
}
.postid-184 main .l-arc {
  overflow: hidden;
  background: #F7E1E1;
}
.postid-184 main .l-arc .l-arc__content {
  background: #fff;
  min-height: 154px;
  border-bottom-right-radius: 50% 154px;
  border-bottom-left-radius: 50% 154px;
  margin-left: -200px;
  margin-right: -200px;
  padding-left: 200px;
  padding-right: 200px;
}
@media all and (max-width: 420px) {
  .postid-184 main .l-arc .l-arc__content {
    min-height: 124px;
    border-bottom-right-radius: 75% 124px;
    border-bottom-left-radius: 75% 124px;
  }
}

.l-footer {
  background: #F7E1E1;
  position: relative;
  min-height: 277px;
  padding-bottom: 62px;
}
.l-footer .l-footerContent {
  padding-top: 4rem;
}
.l-footer .l-footer__btmBar {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  background: #5202A3;
  color: #fff;
}
@media all and (max-width: 420px) {
  .l-footer .l-footer__btmBar {
    font-size: 1.2rem;
  }
}

.postid-184 .c-cream__text {
  text-align: center;
}
@media all and (max-width: 420px) {
  .postid-184 .c-cream__text {
    width: 53.8%;
  }
}
.postid-184 .c-cream__text h3 {
  font-weight: 500;
  font-family: "Josefin Sans";
  margin-top: 1rem;
  margin-bottom: 1.3rem;
  letter-spacing: 0.1em;
}
.postid-184 .c-cream__text .c-cream__price {
  font-size: 2rem;
  margin-top: 0;
  letter-spacing: 0.1em;
  font-family: "inter";
  color: #000;
}
@media all and (max-width: 420px) {
  .postid-184 .c-cream__text .c-cream__price {
    font-size: 1.2rem;
  }
}
.postid-184 .c-cream {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 495px;
  margin: 0 auto;
}
.postid-184 .c-cream img {
  width: 219px;
  height: 153px;
}
@media all and (max-width: 830px) {
  .postid-184 .c-cream {
    width: 100%;
  }
  .postid-184 .c-cream img {
    width: 44.2%;
    height: 87.3%;
  }
  .postid-184 .c-cream .c-cream__text {
    width: 53.2%;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-cream img {
    width: 47.5%;
    height: 64.8%;
  }
}
.postid-184 .c-cream--sale {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 498px;
  margin: 0 auto;
}
@media all and (max-width: 830px) {
  .postid-184 .c-cream--sale {
    width: 57.5%;
  }
  .postid-184 .c-cream--sale img {
    width: 44%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .postid-184 .c-cream--sale .c-cream__text {
    width: 53.2%;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-cream--sale {
    width: 77.6%;
  }
}
.postid-184 .c-desc {
  margin-top: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
}
.postid-184 .c-face {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 224px;
  height: 80px;
}
@media all and (max-width: 420px) {
  .postid-184 .c-face {
    width: 100%;
    height: 50px;
  }
}
.postid-184 .c-face__img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media all and (max-width: 420px) {
  .postid-184 .c-face__img {
    width: auto;
  }
  .postid-184 .c-face__img img {
    width: 100%;
  }
}
.postid-184 .c-face__sa {
  width: 140px;
  text-align: center;
  vertical-align: middle;
  line-height: 8rem;
}
@media all and (max-width: 420px) {
  .postid-184 .c-face__sa {
    line-height: 5rem;
    font-size: 9.87%;
  }
}
.postid-184 .c-unitText {
  width: 224px;
  margin-top: 2.8rem;
}
@media all and (max-width: 420px) {
  .postid-184 .c-unitText {
    width: 100%;
    font-size: 1.2rem;
  }
}
.postid-184 .c-fSocial {
  width: 182px;
  margin: 0 auto 5.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 830px) {
  .postid-184 .c-fSocial {
    width: 169px;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-fSocial {
    width: 33.3%;
    min-width: 100px;
  }
}
.postid-184 .c-fSocial .twitter i {
  color: rgb(85, 172, 238);
}
.postid-184 .c-fSocial .twitter:hover i {
  color: #5202A3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.postid-184 .c-fSocial .instagram {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: -webkit-radial-gradient(33% 100%, circle, #fed373 4%, #f15245 30%, #d92e7f 62%, #9836b7 85%, #515ecf);
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9836b7 85%, #515ecf);
}
.postid-184 .c-fSocial .instagram:hover {
  background: #5202A3;
}
.postid-184 .c-fSocial .instagram::before {
  content: "";
  border: 1.3px solid #fff;
  border-radius: 30%;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.postid-184 .c-fSocial .instagram::after {
  content: "";
  border: 1.3px solid #fff;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.postid-184 .c-fSocial .instagram span {
  border: 1.3px solid #fff;
  border-radius: 100%;
  width: 0;
  height: 0;
  position: absolute;
  right: 5.7px;
  top: 5.7px;
  margin: auto;
}
.postid-184 .c-fSocial .facebook i {
  color: rgb(49, 80, 150);
}
.postid-184 .c-fSocial .facebook:hover i {
  color: #5202A3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.postid-184 .c-fGrid {
  width: 642px;
  margin: 0 auto;
  padding-right: 4rem;
}
@media all and (max-width: 830px) {
  .postid-184 .c-fGrid {
    width: 100%;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-fGrid {
    padding-right: 0;
  }
}
.postid-184 .c-fGrid .c-fGrid__wrapper {
  display: table;
  margin: 0 auto;
  width: 552px;
  border-collapse: collapse;
  height: 4rem;
  margin-bottom: 6rem;
}
.postid-184 .c-fGrid .c-fGrid__wrapper > li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0;
}
.postid-184 .c-fGrid .c-fGrid__wrapper > li:first-child {
  padding-left: 0;
}
.postid-184 .c-fGrid .c-fGrid__wrapper > li:last-child {
  padding-right: 0;
}
@media all and (max-width: 830px) {
  .postid-184 .c-fGrid .c-fGrid__wrapper {
    width: 71.8%;
    min-width: 420px;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-fGrid .c-fGrid__wrapper {
    min-width: auto;
    margin-bottom: 3.2rem;
  }
}
.postid-184 .c-fGrid .c-fGrid__wrapper li {
  text-align: center;
}
.postid-184 .c-fGrid .c-fGrid__wrapper li a {
  color: #333;
}
.postid-184 .c-fGrid .c-fGrid__wrapper li:not(:nth-child(3)) {
  border-right: 1px solid #333;
}
@media all and (max-width: 420px) {
  .postid-184 .c-fGrid .c-fGrid__wrapper li:not(:nth-child(3)) {
    border-right: none;
    margin-bottom: 3rem;
  }
}
.postid-184 .c-fGrid .c-fGrid__wrapper .w33-5 {
  width: 33.5%;
}
@media all and (max-width: 420px) {
  .postid-184 .c-fGrid .c-fGrid__wrapper .w33-5 {
    width: 100%;
    display: block;
  }
}
.postid-184 .c-fGrid .c-fGrid__wrapper .w38-7 {
  width: 38.7%;
}
@media all and (max-width: 420px) {
  .postid-184 .c-fGrid .c-fGrid__wrapper .w38-7 {
    width: 100%;
    display: block;
  }
}
.postid-184 .c-fGrid .c-fGrid__wrapper .w27-7 {
  width: 27.7%;
}
@media all and (max-width: 420px) {
  .postid-184 .c-fGrid .c-fGrid__wrapper .w27-7 {
    width: 100%;
    display: block;
  }
}

.postid-184 .mb40 {
  margin-bottom: 40px;
}
.postid-184 .c-pImg {
  width: 500px;
  margin: 0 auto;
}
.postid-184 .c-pImg img {
  margin: 0 auto;
  width: 500px;
  background-size: cover;
}
@media all and (max-width: 830px) {
  .postid-184 .c-pImg {
    width: 69%;
  }
  .postid-184 .c-pImg img {
    width: 100%;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-pImg {
    width: 65.5%;
  }
}
.postid-184 .c-dlMedia {
  padding-left: 5.2rem;
  position: relative;
}
@media all and (max-width: 420px) {
  .postid-184 .c-dlMedia {
    padding-left: 3rem;
  }
}
.postid-184 .c-dlMedia::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 30px;
  background-image: url("../images/c-dl__point.png");
  position: absolute;
  left: 0;
  top: 0;
}
@media all and (max-width: 420px) {
  .postid-184 .c-dlMedia::before {
    width: 17px;
    height: 14px;
    top: 5px;
    background-size: contain;
  }
}
.postid-184 .c-dlMedia dt {
  position: relative;
  padding-bottom: 19px;
}
.postid-184 .c-dlMedia dt::after {
  content: "";
  display: block;
  position: absolute;
  top: 1.2rem;
  left: -9px;
  width: 160px;
  height: 17px;
  background: #F7E1E1;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 2px 2px #fff;
          box-shadow: inset 0 0 2px 2px #fff;
  z-index: -1;
}
@media all and (max-width: 420px) {
  .postid-184 .c-dlMedia dt::after {
    width: 39.5%;
    height: 30.4%;
    top: 1.4rem;
  }
}
.postid-184 .c-dlMedia dd {
  margin-left: 0;
  line-height: 25px;
  letter-spacing: 10%;
}
.postid-184 .c-topImg {
  width: 100%;
  height: 251px;
  background-size: cover;
  margin: 0 auto 6rem;
}
@media all and (max-width: 830px) {
  .postid-184 .c-topImg {
    -o-object-fit: contain;
       object-fit: contain;
    height: auto;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-topImg {
    margin-bottom: 3rem;
  }
}
.postid-184 .c-btmImg {
  margin: 6rem auto 8rem;
  width: 668px;
  height: 744px;
}
@media all and (max-width: 830px) {
  .postid-184 .c-btmImg {
    width: 90.6%;
    height: auto;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-btmImg {
    width: 100%;
    margin: 3rem auto;
  }
}

.postid-184 .c-Btn {
  position: relative;
  width: 435px;
  border: 3px solid #5202A3;
  border-Radius: 10px;
  background: #fff;
  padding: 16px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 6rem auto 0;
}
@media all and (max-width: 830px) {
  .postid-184 .c-Btn {
    width: 358px;
    height: 76px;
    padding: 8px 25px;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-Btn {
    width: 98.4%;
    height: auto;
    margin: 4rem auto 0;
    padding: 9.8px 17px;
  }
}
.postid-184 .c-Btn::before {
  content: "";
  display: inline-block;
  width: 114px;
  height: 136px;
  background-image: url("../images/strawberry.png");
  position: absolute;
  top: -7.3rem;
  left: -6rem;
}
@media all and (max-width: 420px) {
  .postid-184 .c-Btn::before {
    width: 81px;
    height: 97px;
    top: -5.2rem;
    left: -4.5rem;
    background-size: contain;
  }
}
.postid-184 .c-Btn .c-Btn__p {
  text-align: center;
  margin: 0;
  width: calc(100% - 60px);
}
.postid-184 .c-Btn .c-Btn__p span {
  display: inline-block;
  font-family: "inter";
  font-weight: 600;
  font-size: 22.12px;
  letter-spacing: 0.1em;
  line-height: 54px;
  color: #EFBA30;
}
@media all and (max-width: 830px) {
  .postid-184 .c-Btn .c-Btn__p span {
    font-size: 18px;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-Btn .c-Btn__p {
    width: calc(100% - 35px);
  }
  .postid-184 .c-Btn .c-Btn__p span {
    font-size: 13px;
    line-height: 29px;
  }
}
.postid-184 .c-Btn .c-Btn__right {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #F7E1E1;
}
.postid-184 .c-Btn .c-Btn__right i {
  line-height: 54px;
  color: #5202A3;
  font-size: 27px;
}
@media all and (max-width: 830px) {
  .postid-184 .c-Btn .c-Btn__right {
    width: 45px;
    height: 45px;
    margin-top: 5px;
  }
  .postid-184 .c-Btn .c-Btn__right i {
    line-height: 45px;
    font-size: 22px;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-Btn .c-Btn__right {
    min-width: 30px;
    width: 30px;
    height: 30px;
    margin: auto 0;
  }
  .postid-184 .c-Btn .c-Btn__right i {
    line-height: 30px;
    font-size: 14px;
  }
}
.postid-184 .c-Btn:hover {
  background: #5202A3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.postid-184 .c-Btn:hover span {
  color: #fff;
}
.postid-184 .c-Btn:hover .c-Btn__right {
  background: #fff;
}
@media all and (max-width: 420px) {
  .postid-184 section.l-sale.content_area > div > .c-Btn {
    width: 75.5%;
  }
}

.postid-184 .c-hTitle {
  text-align: center;
  width: 528px;
}
@media all and (max-width: 830px) {
  .postid-184 .c-hTitle {
    width: 100%;
  }
}
@media all and (max-width: 830px) {
  .postid-184 .c-hTitle h1 {
    font-size: 3.2rem;
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-hTitle h1 {
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
.postid-184 .c-hTitle__p {
  font-size: 3.6rem;
  letter-spacing: 0.1em;
  color: #fff;
  font-family: "Josefin Sans";
}
@media all and (max-width: 830px) {
  .postid-184 .c-hTitle__p {
    font-size: 2.4rem;
    margin: 0 auto;
    width: 50%;
    position: relative;
  }
  .postid-184 .c-hTitle__p::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 160px;
    height: 95px;
    background-image: url("../images/header-cream.png");
    right: -100px;
    top: 4rem;
    background-size: cover;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .c-hTitle__p {
    font-size: 1.6rem;
  }
  .postid-184 .c-hTitle__p::after {
    display: none;
  }
}
.postid-184 .c-contentTitle {
  margin: 0 auto 60px;
  width: 810px;
}
@media all and (max-width: 830px) {
  .postid-184 .c-contentTitle {
    width: 96vw;
    margin-bottom: 40px;
  }
}
.postid-184 .c-btmMessage--award {
  width: 830px;
  margin: 0 auto;
}
.postid-184 .c-btmMessage--award img {
  width: 810px;
  height: 161px;
  background-size: cover;
}
@media all and (max-width: 830px) {
  .postid-184 .c-btmMessage--award {
    width: 96%;
  }
  .postid-184 .c-btmMessage--award img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.postid-184 .p-pList {
  width: 800px;
  margin: 40px auto 0;
}
@media all and (max-width: 830px) {
  .postid-184 .p-pList {
    width: 96%;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .p-pList {
    width: 100%;
    margin: 31px 0 0;
  }
}

.postid-184 .p-btmMessage {
  width: 709px;
  margin: 60px auto 0;
  position: relative;
}
@media all and (max-width: 830px) {
  .postid-184 .p-btmMessage {
    width: 400px;
    margin-top: 4rem;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .p-btmMessage {
    width: 100%;
  }
}
.postid-184 .p-btmMessage::before {
  content: "";
  display: inline-block;
  width: 104px;
  height: 102px;
  background-image: url("../images/p-btmMessage__before.png");
  left: 0;
}
.postid-184 .p-btmMessage::after {
  content: "";
  display: inline-block;
  width: 104px;
  height: 101px;
  background-image: url("../images/p-btmMessage__after.png");
  right: 0;
}
.postid-184 .p-btmMessage::before, .postid-184 .p-btmMessage::after {
  position: absolute;
  top: 0;
}
@media all and (max-width: 830px) {
  .postid-184 .p-btmMessage::before, .postid-184 .p-btmMessage::after {
    width: 50px;
    height: 49px;
    background-size: cover;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .p-btmMessage::before, .postid-184 .p-btmMessage::after {
    width: 60px;
    height: 59px;
  }
}
.postid-184 .p-btmMessage br:nth-of-type(2) {
  display: none;
}
@media all and (max-width: 830px) {
  .postid-184 .p-btmMessage br:nth-of-type(2) {
    display: block;
  }
}
.postid-184 .p-btmMessage .p-btmMessage__text {
  height: 121px;
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  line-height: 30px;
  text-align: center;
}
.postid-184 .p-btmMessage .p-btmMessage__text span {
  display: inline-block;
}
@media all and (max-width: 830px) {
  .postid-184 .p-btmMessage .p-btmMessage__text {
    width: 100%;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .p-btmMessage .p-btmMessage__text {
    height: auto;
    padding: 30px 60px;
  }
}

.postid-184 .p-imgArea {
  position: relative;
  width: 791px;
  margin: 0 auto;
}
.postid-184 .p-imgArea::before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 217px;
  background-image: url("../images/l-philosophy__before.png");
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}
.postid-184 .p-imgArea::after {
  content: "";
  display: inline-block;
  width: 110px;
  height: 243px;
  background-image: url("../images/l-philosophy__after.png");
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: cover;
}
@media all and (max-width: 830px) {
  .postid-184 .p-imgArea {
    width: 100%;
  }
  .postid-184 .p-imgArea::before {
    width: 16.8%;
    height: 42.1%;
    background-size: contain;
  }
  .postid-184 .p-imgArea::after {
    width: 12.6%;
    height: 46.6%;
    background-size: cover;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .p-imgArea::before {
    width: 21.4%;
    height: 38.1%;
  }
  .postid-184 .p-imgArea::after {
    width: 13.5%;
    height: 42.3%;
    background-size: contain;
  }
}

.postid-184 .p-cContent {
  width: 495px;
  margin: 0 auto;
}
@media all and (max-width: 830px) {
  .postid-184 .p-cContent {
    width: 400px;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .p-cContent {
    width: 77.6%;
  }
}
.postid-184 .p-block {
  border-radius: 15px;
}
@media all and (max-width: 830px) {
  .postid-184 .p-block {
    border-radius: 13px;
  }
}
.postid-184 .p-block .p-inner {
  margin: 20px auto;
}
.postid-184 .p-block .p-inner h4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.postid-184 .p-block .p-inner p {
  padding-left: 4.5rem;
  line-height: 1.6;
  margin-bottom: 0;
}
@media all and (max-width: 420px) {
  .postid-184 .p-block .p-inner p {
    padding-left: 2.8rem;
  }
}
.postid-184 .p-odd {
  width: 540px;
  margin-top: 4rem;
  background: #F7E1E1;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media all and (max-width: 830px) {
  .postid-184 .p-odd {
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
.postid-184 .p-odd .p-inner {
  padding: 40px 30px 50px;
  border-radius: 15px;
  width: 500px;
  background: #fff;
}
@media all and (max-width: 830px) {
  .postid-184 .p-odd .p-inner {
    width: 91.5%;
    padding: 30px 20px 40px;
    border-radius: 9px;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .p-odd .p-inner {
    width: 90.1%;
  }
}
@media all and (max-width: 830px) {
  .postid-184 .mt21-4 {
    margin-top: 21.4%;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .mt21-4 {
    margin-top: 43.2%;
  }
}
@media all and (max-width: 830px) {
  .postid-184 .mt34-5 {
    margin: 34.5% auto 0;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .mt34-5 {
    margin-top: 68.6%;
  }
}
.postid-184 .p-even {
  width: 610px;
  height: 664px;
  margin: 0 auto;
  background: #fff;
  padding: 40px 30px 50px;
}
@media all and (max-width: 830px) {
  .postid-184 .p-even {
    width: 93.1%;
    height: auto;
    padding: 30px 20px 0;
  }
}
@media all and (max-width: 420px) {
  .postid-184 .p-even {
    width: 90.1%;
  }
}
.postid-184 .p-even .p-inner {
  padding-bottom: 3rem;
  border-bottom: 3px solid #F7E1E1;
  margin: 0 auto;
}
.postid-184 .p-even img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 550px;
  height: 315px;
  margin-top: 4rem;
}
@media all and (max-width: 830px) {
  .postid-184 .p-even img {
    width: 100%;
    margin-top: 3rem;
    height: auto;
  }
}

.postid-184 .p-slide {
  padding-bottom: 11px;
}
.postid-184 .p-slide .p-unit {
  width: 274px;
  height: 452px;
  margin: 9.5rem auto 0;
  background: #F7E1E1;
  position: relative;
  -webkit-box-shadow: 17px 17px #D9D9D9;
          box-shadow: 17px 17px #D9D9D9;
  border-radius: 5px;
  border-top-left-radius: 2px;
}
@media all and (max-width: 420px) {
  .postid-184 .p-slide .p-unit {
    width: 48%;
    height: auto;
    padding: 0 14px 33px;
    margin: 0 auto;
    -webkit-box-shadow: 11px 11px #D9D9D9;
            box-shadow: 11px 11px #D9D9D9;
  }
}
.postid-184 .p-slide .p-unit::before {
  content: "";
  display: inline-block;
  width: 264px;
  height: 95px;
  background-image: url("../images/p-unit__head.png");
  position: absolute;
  -webkit-filter: drop-shadow(17px 17px #D9D9D9);
          filter: drop-shadow(17px 17px #D9D9D9);
  top: -95px;
  left: 0;
  z-index: -1;
}
@media all and (max-width: 420px) {
  .postid-184 .p-slide .p-unit::before {
    display: none;
  }
}
.postid-184 .p-slide .p-unit__top {
  display: none;
}
@media all and (max-width: 420px) {
  .postid-184 .p-slide .p-unit__top {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 2px;
    width: 48%;
    -webkit-filter: drop-shadow(11px 11px #D9D9D9);
            filter: drop-shadow(11px 11px #D9D9D9);
  }
}
.postid-184 .p-slide .p-unit__article {
  width: 224px;
  margin: 0 auto;
  padding-top: 2rem;
}
@media all and (max-width: 420px) {
  .postid-184 .p-slide .p-unit__article {
    width: 100%;
  }
}