@use "../../foundation/mixin";
@use "../../foundation/base";


.postid-184{
    .c-Btn{
        position: relative;
        width: 435px;
        border: 3px solid base.$purple;
        border-Radius: 10px;
        background: #fff;
        padding: 16px 30px;
        display: flex;
        justify-content: space-between;
        margin: 6rem auto 0;
    
        @include mixin.mq(tab){
            width: 358px;
            height: 76px;
            padding: 8px 25px;
        }
        @include mixin.mq(sp){
            width: 98.4%;
            height: auto;
            margin: 4rem auto 0;
            padding: 9.8px 17px;
            
        }
    
        &::before{
            @include mixin.background_url('strawberry.png', 114px, 136px);
            position: absolute;
            top: -7.3rem;
            left: -6rem;
    
            @include mixin.mq(sp){
                width: 81px;
                height: 97px;
                top: -5.2rem;
                left: -4.5rem;
                background-size: contain;
            }
        }
    
        .c-Btn__p{
            text-align: center;
            margin: 0;
            
            span{
                display: inline-block;
                font-family: 'inter';
                font-weight: 600;
                font-size: 22.12px;
                letter-spacing: 0.1em;
                line-height: 54px;
                color: base.$gold;
            }
    
            @include mixin.mq(tab){
                span{
                    font-size: 18px;
                }
            }
            @include mixin.mq(sp){
                span{
                    font-size: 13px;
                    line-height: 29px;
                }
            }
        }
        .c-Btn__right{
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background: base.$pink;
    
            i{
                line-height: 54px;
                color: base.$purple;
                font-size: 27px;
            }
    
            @include mixin.mq(tab){
                width: 45px;
                height: 45px;
                margin-top: 5px;
    
                i{
                    line-height: 45px;
                    font-size: 22px;
                }
            }
            @include mixin.mq(sp){
                min-width: 30px;
                width: 30px;
                height: 30px;
                margin: auto 0;
                i{
                    line-height: 30px;
                    font-size: 14px;
                }
            }
        }
    
        &:hover{
            background: base.$purple;
            transition: .3s;
            span{
                color: #fff;
            }
            .c-Btn__right{
                background: #fff;
            }
            
        }
    }

    section.l-sale.content_area > div > .c-Btn{
        @include mixin.mq(sp){
            width: 75.5%;
        }
        
    }
    
}
