@use "../../foundation/mixin";
@use "../../foundation/base";

.single-lp-production{
    .c-link{
        text-align: right;
        margin-top: 2rem;
        a{
            
            padding-right: 3rem;
            text-decoration: none;
            font-weight: 700;
            color: base.$charcoalGray;

            i{
                padding-left: 0.3rem;
                &::before{
                    padding-left: 1.2rem;
                }
            }
        }

        p{
            padding-right: 3rem;
        }
    }

}

.postid-184{
    .mb40{
        margin-bottom: 40px;
    }

    .c-pImg{
        width: 500px;
        margin: 0 auto;

        img{
            margin: 0 auto;
            width: 500px;
            background-size: cover;
        }

        @include mixin.mq(tab){
            width: 69%;
            img{
                width: 100%;
            }
        }
        @include mixin.mq(sp){
            width: 65.5%;
        }
    }

    .c-dlMedia{
        padding-left: 5.2rem;
        position: relative;

        @include mixin.mq(sp){
            padding-left: 3rem;
        }

        &::before{
            @include mixin.background_url('cosmetics/c-dl__point.png', 36px, 30px);
            position: absolute;
            left: 0;
            top: 0;

            @include mixin.mq(sp){
                width: 17px;
                height: 14px;
                top: 5px;
                background-size: contain;
            }
        }

        dt{
            position: relative;
            padding-bottom: 19px;

            &::after{
                content: '';
                display: block;
                position: absolute;
                top: 1.2rem;
                left: -9px;
                width: 160px;
                height: 17px;
                background: base.$pink;
                border-radius: 50%;
                box-shadow: inset 0 0 2px 2px #fff;
                z-index: -1;

                @include mixin.mq(sp){
                    width: 39.5%;
                    height: 30.4%;
                    top: 1.4rem;
                }
            }
        }

        dd{
            margin-left: 0;
            line-height: 25px;
            letter-spacing: 10%;
        }
    }

    .c-topImg{
        width: 100%;
        height: 251px;
        background-size: cover;
        margin: 0 auto 6rem;
        @include mixin.mq(tab){
            object-fit: contain;
            height: auto;
        }
        @include mixin.mq(sp){
            margin-bottom: 3rem;
        }
    }
    .c-btmImg{
        margin: 6rem auto 8rem;
        width: 668px;
        height: 744px;

        @include mixin.mq(tab){
            width: 90.6%;
            height: auto;
        }
        @include mixin.mq(sp){
            width: 100%;
            margin: 3rem auto;
        }
    }
}

.postid-212{
    .c-accessories{
        position: relative;
        display: block;
        width: 100%;
        height: 297px;
    }

    .c-duraImg{
        margin-right: 3rem;
        z-index: 3;

        img{
            margin-bottom: 3rem;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        small{
            position: relative;
            display: block;
            padding-left: 1.7rem;
            font-size: 12px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.15em;

            &::before{
                position: absolute;
                top: 0;
                left: 0;
                content: "※";
            }
        }
    }

    .c-explanation{
        word-break: break-all;
        font-weight: 700;
        letter-spacing: 0.15em;
        line-height: 26px;
        z-index: 3;    

        &:nth-child(1){
            margin-bottom: 16px;
        }

        p{
            margin-bottom: 1.6rem;
        }

        &__ul{
            padding-left: 1.8rem;

            li{
                margin-bottom: 8px;
                position: relative;
                &::before{
                    position: absolute;
                    top: 1rem;
                    left: 0;
                    content: "";
                    background: base.$dark;
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    border-radius: 2px;
                    margin-left: -1.8rem;
                    text-align: center;
                }
            }
        }
    }

    .c-twoColumn{
        display: flex;
        justify-content: space-between;


        .c-setImage{
            // デフォルトのstrech状態を避ける
            align-self: flex-end;
            margin-top: 175px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
        .c-setCatch{
            width: 400px;
            height: 294px;
        }
    }
    .c-oneColumn{
        position: relative;

        img{
            margin-left: 12.5rem;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }

    .c-middleImg{
        text-align: center;
        margin-bottom: 6rem;

        img{
            width: 465px;
            height: 310px;
        }
    }

    .c-videoInfo{
        font-size: 22px;
        letter-spacing: 0.05em;
        font-weight: 700;
        line-height: 70px;
        color: base.$dark;

        i{
            margin-right: 20px;
        }
        span{
            font-size: 32px;
            font-weight: 700;
            color: rgba(201, 211, 90, 1);
        }
    }
}


/***************************************************************/
/*********************** メディアクエリ(tab) ********************/ 
/***************************************************************/
@include mixin.mqt(tab){
    .postid-212{
        .c-duraImg{
            width: 100%;
            margin-right: 0;
            margin-bottom: 3rem;
            img{
                width: 250px;
                height: auto;
                object-fit: cover;
                margin: 0 auto 1.6rem;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
            small{
                width: 250px;
                margin: 0 auto;

            }
    
        }

        .c-twoColumn{
            .c-setCatch{
                width: 270px;
                height: 198px;
                margin-top: 4rem;
            }
        }
    }
}


/***************************************************************/
/*********************** メディアクエリ(spw) ********************/ 
/***************************************************************/
@include mixin.mqt(spw){
    .postid-212{
        .c-duraImg{
            width: 61%;
            img{
                margin: 0 0 1.6rem;
            }
            small{
                margin: 0;
            }
        }

        .c-accessories{
            display: none;
        }

        .c-twoColumn{
            .c-setImage{
                width: 34.5%;
                height: auto;
                margin-top: 7.3rem;
            }
            .c-setCatch{
                width: 67%;
                height: 100%;
                margin-top: 0;
            }
        }
        .c-oneColumn{
            .c-setImage{
                width: 34.5%;
                height: auto;
                margin-left: 5rem;
            }
        }
    
        .c-middleImg{    
            margin-bottom: 1.9rem;
            img{
                width: 83.6%;
                height: auto;    
            }    
        }
    
        .c-videoInfo{
            font-size: 12px;
            line-height: 26px;

            span{
                font-size: 16px;
                line-height: 26px;
            }
            i{
                width: 14px;
            }
        }
    }
}


/***************************************************************/
/*********************** メディアクエリ(sp) ********************/ 
/***************************************************************/
@include mixin.mqt(sp){
    .postid-212{
        .c-duraImg{
            img,
            small{
                width: 100%;
            }
        }
    }
}