@use "../../foundation/mixin";
@use "../../foundation/base";



.postid-212{
    .c-hCatch{
        position: relative;
        padding-left: 40px;
        margin-top: 38.5px;
        font-family: 'Roboto', sans-serif, 'Merriweather', serif, 'Oswald', 'Raleway';
        font-size: 24px;
        font-weight: 600;
        color: base.$dark;
        line-height: 43px;
        letter-spacing: 0.05em;
        text-align: left;
        z-index: 5;    
    }
    .c-hPrice{
        width: 100%;
        margin-top: 22px;
        text-align: right;
        z-index: 3;
        position: relative;
    
        i{
            margin-right: 8px;
            width: 17.4px;
            height: 25px;
            color: base.$dark;
        }
        span{
            color: base.$dark;
            font-size: 24px;
            font-weight: 700;
            line-height: 42px;
            letter-spacing: 0.05em;
        }
    }

    .c-hFour{
        font-family: Inter;
        font-size: 32px;
        font-weight: 600;
        line-height: 83px;
        letter-spacing: 0.05em;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        z-index: 5;
    }

    .c-appCatch{
        font-size: 24px;
        color: base.$dark;
        font-weight: 700;
        line-height: 56px;
        text-align: center;
        margin-bottom: 2rem;
        width: calc(100% - 18px);
        margin-left: 18px;
    }

    .c-timeDay{
        width: 213px;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            display: block;
            right: 0;
            top: -4px;
            height: calc(100% + 8px);
            width: 8px;
            border-radius: 2px;
        }
        &__date{
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
        }
        &__time{
            font-size: 20px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            padding-left: 2.3rem;            
        }
        &__triangle{
            margin: 8px 0 12px;
            padding-left: 4.9rem;
        }
    }

    .yellow{
        &::after{
            background: rgba(201, 211, 90, 1);
        }
    }
    .puple{
        &::after{
            background: rgba(139, 46, 119, 0.39);
        }
    }
    .blue{
        &::after{
            background: rgba(46, 106, 139, 1);
        }
    }
    .green{
        &::after{
            background: rgba(46, 139, 111, 1);
        }
    }

}


/***************************************************************/
/*********************** メディアクエリ(tab) ********************/ 
/***************************************************************/
@include mixin.mqt(tab){
    .postid-212{
        .c-appCatch{
            font-size: 2.2rem;
            line-height: 53px;
            width: 100%;
            margin-left: 0;
        }
    }
}


/***************************************************************/
/*********************** メディアクエリ(spw) ********************/ 
/***************************************************************/
@include mixin.mqt(spw){
    .postid-212{
        .c-hCatch{
            font-size: 2rem;
            line-height: 1.8em;        
        }
        .c-hPrice{        
            i{
                width: 13px;
                height: auto;
            }
            span{
                font-size: 1.8rem;
                line-height: 1.8em;        
            }
        }
    
        .c-hFour{
            font-size: 2.4rem;
            line-height: 64px;
        }

        .c-timeDay{
            width: 38%;
            .pRight{
                padding-left: 2.7rem;
            }
        }
        .c-spec{
            width: 100%;
        }

    }
}


/***************************************************************/
/*********************** メディアクエリ(sp) ********************/ 
/***************************************************************/
@include mixin.mqt(sp){
    .postid-212{
        .c-hCatch{
            padding-right: 0.8rem;
            font-size: 1.8rem;
        }
        .c-hPrice{
            padding-right: 1.3rem;
            i{
                font-size: 2.3rem;
                margin-right: 7px;
            }
        }
        .c-hFour{
            line-height: 4rem;
            font-size: 1.6rem;
        }
        .c-appCatch{
            font-size: 12px;
            line-height: 36px;
            letter-spacing: 0.05em;
        }
        .c-timeDay__date{
            font-size: 14px;
            line-height: 25px;
        }

        .c-spec{
            dl{
                dt{
                    font-size: 1.2rem;
                    line-height: 2.1rem;
                }
                dd{
                    padding-left: 6.8rem;
                }

            } 
        }
    }
}