@use "../../foundation/mixin";
@use "../../foundation/base";


.postid-184{
    .c-hTitle{
        text-align: center;
        width: 528px;

        @include mixin.mq(tab){
            width: 100%;
        }
        h1{
            @include mixin.mq(tab){
                font-size: 3.2rem;
                margin-top: 0;
                margin-bottom: 2.5rem;
            }
            @include mixin.mq(sp){
                font-size: 2.4rem;
                margin-top: 0;
                margin-bottom: 0.5rem;
            }
        }
        &__p{
            font-size: 3.6rem;
            letter-spacing: 0.1em;
            color: #fff;
            font-family: 'Josefin Sans';
            @include mixin.mq(tab){
                font-size: 2.4rem;
                margin: 0 auto;
                width: 50%;
                position: relative;
                &::after{
                    position: absolute;
                    @include mixin.background_url('cosmetics/header-cream.png', 160px, 95px);
                    right: -100px;
                    top: 4rem;
                    background-size: cover;
                }
            }
            @include mixin.mq(sp){
                font-size: 1.6rem;
                &::after{
                    display: none;
                }
            }
        }
    }

    .c-contentTitle{
        margin: 0 auto 60px;
        width: 810px;

        @include mixin.mq(tab){
            width: 96vw;
            margin-bottom: 40px;
        }
    }

    .c-btmMessage--award{
        width: 830px;
        margin: 0 auto;

        img{
            width: 810px;
            height: 161px;
            background-size: cover;
        }

        @include mixin.mq(tab){
            width: 96%;
            img{
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            
        }
    }
}


.postid-212{
    .c-detailTitle{
        text-align: center;
        margin-bottom: 6rem;
        h2{
            font-size: 66px;
            line-height: 60px;
            letter-spacing: 0.1em;
            background: linear-gradient(90deg, #2E6A8B 0%, rgba(84, 132, 62, 0.741667) 25.98%, #2E6A8B 61.82%, rgba(139, 46, 119, 0.39) 100.59%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p{
            font-family: Inter;
            font-size: 20px;
            line-height: 40px;
            letter-spacing: 0.1em;
        }
    }

    .c-schTitle{
        padding-left: 3.6rem;
        padding-bottom: 8px;
        margin: auto 0;
        &__tag{
            line-height: 22px;
            margin-bottom: 4px;
            a{
                margin-right: 12px;
                color: base.$dark;
            }
        }
        &__ttl{
            a{
                font-family: Roboto;
                font-size: 20px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0.05em;
                color: rgba(0, 0, 0, 1);
    
            }
        }
    }
}