@use "../../foundation/mixin";
@use "../../foundation/base";


.home{

    .p-article{
        padding: 8.352% 1.9% 0 1.45%;
        width: 50%;
    }
}


.single-lp-production{
    .p-proSide{
        width: 300px;
        height: 300px;
        position: relative;

        &__img{
            width: 100%;
            height: 100%;
            overflow: hidden;
            

            img{
                border-radius: 5px;
                width: 100%;
                height: 100%;
                transition: 0.5s;
                object-fit: cover;
                z-index: 2;

                &:hover{
                    transform: scale(1.2);
                }
                
            }
        }
    }

    

    .l-product__one:nth-child(2n+1) .p-proSide::after{
        content: '';
        background: base.$charcoalGray;
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        top: 3rem;
        right: 2rem;
        z-index: -1;
        border-radius: 5px;

    }

    .l-product__one:nth-child(2n){

        .p-proSide::after{
            content: '';
            background: base.$charcoalGray;
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 100%;
            top: 3rem;
            left: 2rem;
            z-index: -1;
            border-radius: 5px;

        }
    } 

    .p-articleSide{
        width: 510px;
        padding-top: 3rem;
        z-index: 2;

        h4{
            position: relative;
            margin-bottom: 3.2rem;

            &::before{
                position: absolute;
                content: '';
                display: inline-block;
                top: -3rem;
                border: 3px solid base.$goldenYellow;
                border-radius: 3px;
                background: base.$goldenYellow;
                width: 10rem;
                box-shadow: 2px 2px 3px base.$gy_hover;
            }
        }
    }

    .vertical{

        .p-proTop{
            width: 300px;
            height: 300px;
            position: relative;

            &__img{
                width: 100%;
                height: 100%;
                margin-bottom: 3rem;
                overflow: hidden;

                img{
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-bottom: 3rem;
                    transition: 0.5s;

                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }

        &:nth-child(1){
            margin-left: 4rem;

            .p-proTop::after{
                content: '';
                background: base.$charcoalGray;
                position: absolute;
                display: inline-block;
                width: 100%;
                height: 100%;
                top: 3rem;
                right: 2rem;
                z-index: -1;
                border-radius: 5px;
            }
        } 

        &:nth-child(2){
            margin-right: 4rem;

            .p-proTop::after{
                content: '';
                background: base.$charcoalGray;
                position: absolute;
                display: inline-block;
                width: 100%;
                height: 100%;
                top: 3rem;
                left: 2rem;
                z-index: -1;
                border-radius: 5px;
            }
        } 

        .p-articleBtm{
            width: 300px;
            margin-top: 6rem;
            z-index: 2;
            position: relative;

            h4{
                padding-left: 2.5rem;
                border-left: 3px solid base.$goldenYellow;
                filter: drop-shadow(2px 2px 3px base.$gy_hover);
            }

            p{
                margin-top: 3.2rem;
            }
        }
    }
}

.postid-212{
    .p-hArticle{
        width: 47.3%;
        padding-right: 1.1rem;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background: linear-gradient(89.72deg, #F4BEE8 0.23%, rgba(23, 179, 179, 0.55) 99.76%);
            left: 0;
            top: 108px;
            width: 225px;
            height: 244px;
        }

        &::after{
            content: '';
            position: absolute;
            background: base.$pale_purple;
            top: -32px;
            right: 98px;
            width: 129px;
            height: 168px;
        }

        h3{
            position: relative;
            z-index: 3;
            &::after{
                position: absolute;
                content: "";
                display: block;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: base.$linear_gold;
            }
        }
    }

    #p-harticle{
        &::before{
            top: 69px;
        }
    }

    .p-individual{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2.8rem 3.6rem;
        margin-bottom: 4rem;
        position: relative;

        &:nth-child(2){
            &::before{
                @include mixin.background_url('tento/pc/473891_s1.png', 150px, 100px);
                position: absolute;
                top: -86px;
                left: 0;
            }
        }
        &:nth-child(3){
            &::before{
                @include mixin.background_url('tento/pc/16228701.png', 150px, 128px);
                position: absolute;
                top: -108px;
                left: 164px;
            }
        }
        &:nth-child(4){
            &::before{
                @include mixin.background_url('tento/pc/222712171.png', 100px, 149px);
                position: absolute;
                top: -134px;
                left: 377px;

            }
            &::after{
                @include mixin.background_url('tento/pc/235538481.png', 200px, 200px);
                position: absolute;
                bottom: -66px;
                left: 60px;

            }
        }


        &__img{
            img{
                width: 450px;
                height: 268px;
                box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
                margin-bottom: 6rem;
            }

            h3{
                color: base.$dark;
                font-size: 32px;
                font-style: italic;
                line-height: 25px;
                letter-spacing: 0.1em;
                text-align: center;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 46px;
                    height: 1px;
                    background:rgba(0, 0, 0, 1);
                    left: 0;
                    @include mixin.vertical_center;
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 46px;
                    height: 1px;
                    background:rgba(0, 0, 0, 1);
                    right: 0;
                    @include mixin.vertical_center;
                }
            }
        }   
        &__atl{
            width: 340px;
        }     
    }
}


/***************************************************************/
/*********************** メディアクエリ(tab) ********************/ 
/***************************************************************/
@include mixin.mqt(tab){
    .postid-212{
        .p-individual{
            width: 696px;
            margin: 0 auto 4rem;
           
            &__img{
                width: 100%;
                text-align: center;
                margin-bottom: 3.6rem;
                h3{
                    width: 450px;
                    margin: 0 auto;
                } 
            }   
            &__atl{
                width: 100%;
                padding: 0 3.2rem;
            }
            
            &:nth-child(2)::before{
                @include mixin.background_url('tento/tab/473891_s_1.png', 100px, 67px);
                top: -5.3rem;
            } 
            &:nth-child(3)::before{
                @include mixin.background_url('tento/tab/1622870_1.png', 100px, 87px);
                @include mixin.beside_center;
                top: -6.3rem;
            } 
            &:nth-child(4){
                &::before{
                    top: -5.8rem;
                    right: 4.4rem;
                    left: auto;
                    @include mixin.background_url('tento/tab/22271217_1.png', 61px, 91px);
                }
            }   
            &:nth-child(4)::after{
                display: none;
            }
        } 
    }
    
}




/***************************************************************/
/******************** メディアクエリ(spw)(tab_s) ****************/ 
/***************************************************************/
@include mixin.mqp(tab_s){
    .single-lp-production{
        .p-proSide{
            width: 250px;
            height: 250px;
        }
        .p-articleSide{
            width: 390px;
            padding-top: 3rem;

        }

        .vertical{
            .p-proTop{
                width: 250px;
                height: 250px;
            }
            &:nth-child(1){
                margin-left: 0;
            }
            &:nth-child(2){
                margin-right: 0;
            }
            .p-articleBtm{
                width: 270px;
            }
        }
    }
}

@include mixin.mqh(spw){
    .home{
        .p-article{
            width: 100%;
            position: relative;
            .new_tag_sp{
                position: absolute;
                top: -1.2rem;
                left: 7%;
                font-size: 3.6rem;
                width: 54px;
                height: 54px;
                line-height: 48px;
                font-family: HGSGyoshotai;
                font-weight: 400;
                color: rgba(235, 20, 20, 1);
                border: 3px solid rgba(235, 20, 20, 1);
                border-radius: 50%;
                text-indent: 6px; 
            }
        }
    }
}


@include mixin.mqt(spw){
    .postid-212{
        .p-hArticle{
            width: 100%;

            &::after{
                display: none;
            }
        }

        .p-individual{
            width: 100%;
            padding: 4rem;
    
            &__img{
                img{
                    width: 100%;
                    height: auto;
                    object-fit: contain;    
                }
                h3{
                    width: 100%;
                    font-size: 2.2rem;
                    line-height: 36px;
                    &::before,
                    &::after{
                        width: 2.4rem;
                    }
                }
            }   
            &__atl{
                padding: 0;
            }     
        }
    }
    
}


/***************************************************************/
/*********************** メディアクエリ(sp) ********************/ 
/***************************************************************/
@include mixin.mqh(sp){
    .home{
        .p-article{
            padding-top: 4rem;
            .new_tag_sp{
                top: 0;
                font-size: 2.7rem;
                width: 36px;
                height: 36px;
                line-height: 31.2px;
                text-indent: 1.5px;
    
            }
        }
    }
}

@include mixin.mqp(sp){
    .single-lp-production{
        .p-articleSide{
            width: 100%;
            h4{
                margin-top: 4rem;
                padding-left: 2.5rem;
                border-left: 3px solid base.$coralRed;
                filter: drop-shadow(2px 2px 3px #EF9554);
                &::before{
                    display: none;
                }
            }
            p{
                margin-top: 2rem;
            }
        }
        .vertical{
            margin-bottom: 10rem;
            .p-articleBtm{
                width: 100%;
                margin-top: 7rem;
            }
        }
    }
}

@include mixin.mqt(sp){
    .postid-212{
        .p-individual{
            &__img{
                margin-bottom: 1.2rem;
                img{
                    margin-bottom: 1.2rem;
                }
                h3{
                    &::before,
                    &::after{
                        display: none;
                    }
                }
            }
            &__atl{
                dl{
                    margin-bottom: 1.2rem;
                }
            }
        }
        #p-indi_3{
            margin-bottom: 3.2rem;
        }
    }
}


/***************************************************************/
/*********************** メディアクエリ(sp_s) ********************/ 
/***************************************************************/
@include mixin.mqp(sp_s){
    .single-lp-production{
        .p-proSide__img{
            img{
                width: 95%;
                height: 95%;
            }
        }
        .l-product__one:nth-child(2n+1) .p-proSide::after,
        .l-product__one:nth-child(2n) .p-proSide::after{
            width: 97%;
            height: 95%;
        }
        .p-articleSide{
            width: 100%;
        }

        .vertical{
            .p-proTop__img{
                img{
                    width: 95%;
                    height: 95%;
                }
            }
            &:nth-child(1),
            &:nth-child(2){
                .p-proTop::after{
                    width: 97%;
                    height: 95%;
                }
            }
        }

    }
}