@use "../../foundation/mixin";
@use "../../foundation/base";


.postid-212{
    .p-hArticle{
        width: 47.3%;
        padding-right: 1.1rem;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            background: linear-gradient(89.72deg, #F4BEE8 0.23%, rgba(23, 179, 179, 0.55) 99.76%);
            left: 0;
            top: 108px;
            width: 225px;
            height: 244px;
        }

        &::after{
            content: '';
            position: absolute;
            background: base.$pale_purple;
            top: -32px;
            right: 98px;
            width: 129px;
            height: 168px;
        }

        h3{
            border-bottom: 2px solid #C9D35A;
            border-image: base.$linear_gold;
            border-image-slice: 1;
        }

    }

    .p-individual{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2.8rem 3.6rem;
        margin-bottom: 4rem;
        position: relative;

        &:nth-child(2){
            &::before{
                @include mixin.background_url('tento/pc/473891_s1.png', 150px, 100px);
                position: absolute;
                top: -86px;
                left: 0;
            }
        }
        &:nth-child(3){
            &::before{
                @include mixin.background_url('tento/pc/16228701.png', 150px, 128px);
                position: absolute;
                top: -108px;
                left: 164px;
            }
        }
        &:nth-child(4){
            &::before{
                @include mixin.background_url('tento/pc/222712171.png', 100px, 149px);
                position: absolute;
                top: -134px;
                left: 377px;
            }
            &::after{
                @include mixin.background_url('tento/pc/235538481.png', 200px, 200px);
                position: absolute;
                bottom: -66px;
                left: 60px;
            }
        }

        &__img{
            img{
                width: 450px;
                height: 268px;
                box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
                margin-bottom: 6rem;
            }

            h3{
                color: base.$dark;
                font-size: 32px;
                font-style: italic;
                line-height: 25px;
                letter-spacing: 0.1em;
                text-align: center;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 46px;
                    height: 1px;
                    background:rgba(0, 0, 0, 1);
                    left: 0;
                    @include mixin.vertical_center;
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 46px;
                    height: 1px;
                    background:rgba(0, 0, 0, 1);
                    right: 0;
                    @include mixin.vertical_center;
                }
            }
        }   
        &__atl{
            width: 340px;
        }     
    }
}