@use "../../foundation/mixin";
@use "../../foundation/base";

.postid-184{
    .p-btmMessage{
        width: 709px;
        margin: 60px auto 0;
        position: relative;

        @include mixin.mq(tab){
            width: 400px;
            margin-top: 4rem;
            
        }
        @include mixin.mq(sp){
            width: 100%;
        }

        &::before{
            @include mixin.background_url('p-btmMessage__before.png', 104px, 102px);
            // position: absolute;
            // top: 0;
            left: 0;
            
            // @include mixin.mq(tab){
            //     width: 50px;
            //     height: 49px;
            //     background-size: cover;
            // }
            // @include mixin.mq(sp){
            //     width: 60px;
            //     height: 59px;
            // }

        }
        &::after{
            @include mixin.background_url('p-btmMessage__after.png', 104px, 101px);
            // position: absolute;
            // top: 0;
            right: 0;

            // @include mixin.mq(tab){
            //     width: 50px;
            //     height: 49px;
            //     background-size: cover;

            // }
        }

        &::before,
        &::after{
            position: absolute;
            top: 0;

            @include mixin.mq(tab){
                width: 50px;
                height: 49px;
                background-size: cover;
            }
            @include mixin.mq(sp){
                width: 60px;
                height: 59px;
            }
        }

        br:nth-of-type(2){
            display: none;

            @include mixin.mq(tab){
                display: block;
            }
        }
        .p-btmMessage__text{
            height: 121px;
            width: 500px;
            margin: 0 auto;
            padding: 30px;
            line-height: 30px;
            text-align: center;

            span{
                display: inline-block;
            }

            @include mixin.mq(tab){
                width: 100%;
            }
            @include mixin.mq(sp){
                height: auto;
                padding: 30px 60px;
            }
        }

    }
}