@use "../../foundation/mixin";
@use "../../foundation/base";

.postid-184{
    .p-cContent{
        width: 495px;
        margin: 0 auto;

        @include mixin.mq(tab){
            width: 400px;
        }
        @include mixin.mq(sp){
            width: 77.6%;
        }
    }


    .p-block{
        border-radius: 15px;

        @include mixin.mq(tab){
            border-radius: 13px;
        }

        .p-inner{
            margin: 20px auto;
            h4{
                display: flex;
                margin-top: 0;
                margin-bottom: 1.5rem;
            }
            p{
                padding-left: 4.5rem;
                line-height: 1.6;
                margin-bottom: 0;
            }
            @include mixin.mq(sp){
                p{
                    padding-left: 2.8rem;
                }
            }
        }
    }

    .p-odd{
        width: 540px;
        margin-top: 4rem;
        background: base.$pink;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        @include mixin.mq(tab){
            position: relative;
            bottom: 0;
            width: 100%;
            
           
        }


        .p-inner{
            padding: 40px 30px 50px;
            border-radius: 15px;
            width: 500px;
            background: #fff;

            @include mixin.mq(tab){
                width: 91.5%;
                padding: 30px 20px 40px;
                border-radius: 9px;
            }
            @include mixin.mq(sp){
                width: 90.1%;
            }
        }
    }
    
    .mt21-4{
        @include mixin.mq(tab){
            margin-top: 21.4%;
        }
        @include mixin.mq(sp){
            margin-top: 43.2%;
        }
        
    }
    .mt34-5{
        @include mixin.mq(tab){
            margin: 34.5% auto 0;
        }
        @include mixin.mq(sp){
            margin-top: 68.6%;
        }
        
    }

    .p-even{
        width: 610px;
        height: 664px;
        margin: 0 auto;
        background: #fff;
        padding: 40px 30px 50px;

        @include mixin.mq(tab){
            width: 93.1%;
            height: auto;
            padding: 30px 20px 0;
        }
        @include mixin.mq(sp){
            width: 90.1%;
        }
        
        .p-inner{
            padding-bottom: 3rem;
            border-bottom: 3px solid base.$pink;
            margin: 0 auto;
        }
        img{
            object-fit: cover;
            width: 550px;
            height: 315px;
            margin-top: 4rem;

            @include mixin.mq(tab){
                width: 100%;
                margin-top: 3rem;
                height: auto;
            }
        }
    }
}


.postid-212{
    .p-dura{
        padding: 7.5rem 0 0 7.5rem;
        position: relative;
        &:nth-child(1){
            margin-bottom: 3rem;

            &::before{
                @include mixin.background_url('tento/pc/p-dura-ma.png', 150px, 150px);
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;

            }
        }
        &:nth-child(2){
            &::before{
                @include mixin.background_url('tento/pc/p-dura-st.png', 150px, 150px);
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
            }

        }
        &__article{
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 40px 40px 40px 78px;
            border-radius: 4px;
        }

    }
    .p-dura:nth-child(1) .p-dura__article{
        &::before{
            @include mixin.background_url('tento/pc/amount.png', 100%, calc(100% + 6px));
            position: absolute;
            top: 0;
            left: 0;
            
        }
    }
    .p-dura:nth-child(2) .p-dura__article{
        &::before{
            @include mixin.background_url('tento/pc/amount_gold.png', 100%, calc(100% + 6px));
            position: absolute;
            top: 0;
            left: 0;

        }
    }

    .p-schedule{
        width: 829px;
        margin: 80px auto;
        padding: 4rem;

        dl{
            display: flex;
            justify-content: start;
            margin-bottom: 4rem;
            padding: 4px 0;
        }

        &__archive{
            display: inline-block;
            width: 100%;
            padding-right: 4rem;
            margin-bottom: 4rem;
            line-height: 22px;
            text-align: right;

            a{
                text-decoration: none;
                color: base.$dark;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0em;
                transition: .3s;        

                &:hover{
                    color: #000;
                }    
            }
        }
    }

    .p-logoArea{
        width: 100%;
        margin-bottom: 6rem;
        &__content{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

}


/***************************************************************/
/*********************** メディアクエリ(tab) ********************/ 
/***************************************************************/
@include mixin.mqt(tab){
    .postid-212{
        .p-dura{
            &__article{
                padding: 40px;
                flex-wrap: wrap;
            }
        }

        .p-dura:nth-child(1) .p-dura__article{
            &::before{    
                @include mixin.background_url('tento/tab/amount-tab.png', 581px, 690px);
            }
        }
        .p-dura:nth-child(2) .p-dura__article{
            &::before{
                @include mixin.background_url('tento/tab/amount_gold-tab.png', 581px, 621px);
            }
        }
        .p-schedule{
            width: 696px;
        }
    }
}


/***************************************************************/
/*********************** メディアクエリ(spw) ********************/ 
/***************************************************************/
@include mixin.mqt(spw){
    .postid-212{
        .p-dura{
            padding-left: 0;

            &:nth-child(1){
                &::before{    
                    width: 120px;
                    height: 120px;
                    left: 19px;            
                }
            }
            &:nth-child(2){
                &::before{
                    width: 120px;
                    height: 120px;
                    left: 19px;    
                }   
            }
            &__article{
                padding: 6rem 3.2rem 4rem;
                background: rgba(255, 255, 255, 0.9);
                border-radius: 10px;

            }
        }
        #duraAtl_1{
            border: 3px solid rgba(23, 179, 179, 0.55);
            &::before{
                display: none;
            }
        }
        #duraAtl_2{
            border: 3px solid #C9D35A;
            &::before{
                display: none;
            }
        }

        .p-schedule{
            width: 100%;
            margin: 0;
            padding: 4rem 2rem;
            background: rgba(255,255,255,0.76);
        }
    }
}


/***************************************************************/
/*********************** メディアクエリ(sp) ********************/ 
/***************************************************************/
@include mixin.mqt(sp){
    .postid-212{
        .p-schedule{
            padding: 4rem 1.2rem;
            h4{
                margin-left: 8px;
                margin-bottom: 3.2rem;
                font-size: 2rem;
                width: 62.8%;
                &::before,
                &::after{
                    width: 2.4rem;
                }
            }
            &__archive{
                a{
                    font-size: 1.4rem;
                    line-height: 25px;
                }
            }
        }
        .p-logoArea{
            margin-bottom: 3rem;
            &__content{
                width: 93.3vw;
                justify-content: space-between;
            }
        }
    }
}