@use "../../foundation/mixin";
@use "../../foundation/base";

.postid-184{
    .p-cContent{
        width: 495px;
        margin: 0 auto;

        @include mixin.mq(tab){
            width: 400px;
        }
        @include mixin.mq(sp){
            width: 77.6%;
        }
    }


    .p-block{
        border-radius: 15px;

        @include mixin.mq(tab){
            border-radius: 13px;
        }

        .p-inner{
            margin: 20px auto;
            h4{
                display: flex;
                margin-top: 0;
                margin-bottom: 1.5rem;
            }
            p{
                padding-left: 4.5rem;
                line-height: 1.6;
                margin-bottom: 0;
            }
            @include mixin.mq(sp){
                p{
                    padding-left: 2.8rem;
                }
            }
        }
    }

    .p-odd{
        width: 540px;
        margin-top: 4rem;
        background: base.$pink;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        @include mixin.mq(tab){
            position: relative;
            bottom: 0;
            width: 100%;
            
           
        }


        .p-inner{
            padding: 40px 30px 50px;
            border-radius: 15px;
            width: 500px;
            background: #fff;

            @include mixin.mq(tab){
                width: 91.5%;
                padding: 30px 20px 40px;
                border-radius: 9px;
            }
            @include mixin.mq(sp){
                width: 90.1%;
            }
        }
    }
    
    .mt21-4{
        @include mixin.mq(tab){
            margin-top: 21.4%;
        }
        @include mixin.mq(sp){
            margin-top: 43.2%;
        }
        
    }
    .mt34-5{
        @include mixin.mq(tab){
            margin: 34.5% auto 0;
        }
        @include mixin.mq(sp){
            margin-top: 68.6%;
        }
        
    }

    .p-even{
        width: 610px;
        height: 664px;
        margin: 0 auto;
        background: #fff;
        padding: 40px 30px 50px;

        @include mixin.mq(tab){
            width: 93.1%;
            height: auto;
            padding: 30px 20px 0;
        }
        @include mixin.mq(sp){
            width: 90.1%;
        }
        
        .p-inner{
            padding-bottom: 3rem;
            border-bottom: 3px solid base.$pink;
            margin: 0 auto;
        }
        img{
            object-fit: cover;
            width: 550px;
            height: 315px;
            margin-top: 4rem;

            @include mixin.mq(tab){
                width: 100%;
                margin-top: 3rem;
                height: auto;
            }
        }
    }
}


.postid-212{
    .p-dura{
        padding: 7.5rem 0 0 7.5rem;
        position: relative;

        &:nth-child(1){
            margin-bottom: 3rem;

            &::before{
                @include mixin.background_url('tento/pc/p-dura-ma.png', 150px, 150px);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
            }


        }
        &:nth-child(2){
            &::before{
                @include mixin.background_url('tento/pc/p-dura-st.png', 150px, 150px);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
            }

        }
        &__article{
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 40px 40px 40px 78px;
            border-radius: 4px;
        }
    }
    .p-dura:nth-child(1) .p-dura__article{
        &::before{
            @include mixin.background_url('tento/pc/amount.png', 100%, calc(100% + 6px));
            position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background: transparent;
        //     background-image: linear-gradient(89.72deg, #F4BEE8 0.23%, rgba(23, 179, 179, 0.55) 99.76%);
        //     border-radius: inherit;
        //     content: "";
        //     z-index: 1;
            top: 0;
            left: 0;
            
        }
        // &::after{
            // position: absolute;
        //     width: calc(100% - 6px);
        //     height: calc(100% - 6px);
        //     background: linear-gradient(89.72deg, #F4BEE8 0.23%, rgba(23, 179, 179, 0.55) 99.76%) rgba(255, 255, 255, 0.9);
        //     border-radius: inherit;
        //     z-index: 2;
        //     content: "";
        //     top: 3px;
        //     left: 3px;
            
        // }
    }
    .p-dura:nth-child(2) .p-dura__article{
        &::before{
            @include mixin.background_url('tento/pc/amount_gold.png', 100%, calc(100% + 6px));
            position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background: transparent;
        //     background-image: base.$linear_gold;
        //     border-radius: inherit;
        //     content: "";
        //     z-index: 1;
            top: 0;
            left: 0;
        }
        // &::after{
        //     position: absolute;
        //     width: calc(100% - 6px);
        //     height: calc(100% - 6px);
        //     background: linear-gradient(89.72deg, #C9D35A 0.23%, rgba(84, 132, 62, 0.741667) 99.76%) rgba(255, 255, 255, 0.9);
        //     border-radius: inherit;
        //     z-index: 2;
        //     content: "";
        //     top: 3px;
        //     left: 3px;
            

        // }
    }

    .p-schedule{
        width: 829px;
        margin: 80px auto;
        padding: 4rem;

        dl{
            display: flex;
            justify-content: start;
            margin-bottom: 4rem;
            padding: 4px 0;
        }
    }

    .p-logoArea{
        width: 100%;
        margin-bottom: 6rem;
        &__content{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            width: 400px;
        }
    }

}