@use "../../foundation/mixin";
@use "../../foundation/base";


.postid-184{
    .p-imgArea{
        position: relative;
        width: 791px;
        margin: 0 auto;
        &::before{
            @include mixin.background_url('l-philosophy__before.png', 120px, 217px);
            position: absolute;
            top: 0;
            left: 0; 
            background-size: cover;
        }
        &::after{
            @include mixin.background_url('l-philosophy__after.png', 110px, 243px,);
            position: absolute;
            bottom: 0;
            right: 0;
            background-size: cover;
        }

        @include mixin.mq(tab){
            width: 100%;

            &::before{
                width: 16.8%;
                height: 42.1%;
                background-size: contain;
            }
            &::after{
                width: 12.6%;
                height: 46.6%;
                background-size: cover;
            }
        }
        @include mixin.mq(sp){
            &::before{
                width: 21.4%;
                height: 38.1%;
            }
            &::after{
                width: 13.5%;
                height: 42.3%;
                background-size: contain;
            }
        }

    }
}