@use "../../foundation/mixin";
@use "../../foundation/base";

.postid-184{
    .p-slide{
        padding-bottom: 11px;

        .p-unit{
            width: 274px;
            height: 452px;
            margin: 9.5rem auto 0;
            background: base.$pink;
            position: relative;
            box-shadow: 17px 17px #D9D9D9;
            border-radius: 5px;
            border-top-left-radius: 2px;
    
            @include mixin.mq(sp){
                width: 48%;
                height: auto;
                padding: 0 14px 33px;
                margin: 0 auto;
                box-shadow: 11px 11px #D9D9D9;

            }
    
            &::before{
                @include mixin.background_url('p-unit__head.png', 264px, 95px);
                position: absolute;
                filter: drop-shadow(17px 17px #D9D9D9);
                top: -95px;
                left: 0;
                z-index: -1;
                @include mixin.mq(sp){
                    display: none;
                }
            }

            &__top{
                display: none;
                @include mixin.mq(sp){
                    display: block;
                    position: relative;
                    margin: 0 auto;
                    top: 2px;
                    width: 48%;
                    filter: drop-shadow(11px 11px #D9D9D9);
                }
            }

            &__article{
                width: 224px;
                margin: 0 auto;
                padding-top: 2rem;
                @include mixin.mq(sp){
                    width: 100%;
                }
            }
        }
    }
    
}