@use "../foundation/mixin";
@use "../foundation/base";

.home{
    .l-header {
        background-image: url('../images/lp-top/pc/header-image.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        &__inner{
            position: relative;
            width: 100%;
            height: 100%;
            .l-header__top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 40px 80px;
                
            }
    
        }
    
    }
}

.postid-184{
    .l-header{
        @include mixin.background_url('cosmetics/flower-jumbotron.png', 100%, 696px);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    
        @include mixin.mq(tab){
            height: 404px;
        }
        @include mixin.mq(sp){
            height: 230px;
        }
    
        &__logo{
            margin: 0 auto;
            padding: 40px 0 80px 50px;
            width: 100%;
    
            @include mixin.mq(tab){
                padding: 20px 0 23px 50px;
                img{
                    width: 56px;
                    height: 60px;
                }
            }
            @include mixin.mq(sp){
                padding: 10px 0 10px 24px;
                img{
                    width: 27px;
                    height: 29px;
                }
            }
        }
        &__catch{
            position: relative;
            width: 810px;
            height: 361px;
            margin: 0 auto;
    
            img{
                position: absolute;
                width: 229px;
                height: auto;
                bottom: 3rem;
                right: 3rem;
                background-size: cover;
            }
            
            @include mixin.mq(tab){
                width: 100%;
                height: 73.5%;
                
                img{
                    display: none;
                }
            }
            @include mixin.mq(sp){
                img{
                    display: block;
                    width: 77px;
                    height: 46px;
                    bottom: 1.5rem;
                    right: 1.5rem;
                }
    
            }
        }
    }
}


.postid-212{
    .nav_top{
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        padding: 28px 40px 0;
        z-index: 10;

    }


    .l-header{
        position: relative;
        width: 100%;
        height: auto;

        &__img{
            width: 100%;
            height: 100%;
            background-size: cover;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__content{
            width: 900px;
            margin: 17.8rem auto 0;
            height: 633px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

        }
        .hFour_content{
            margin-top: 19.8rem;
            justify-content: center;
        }
    }
}



/***************************************************************/
/*********************** メディアクエリ(tab) ********************/ 
/***************************************************************/
@include mixin.mqt(tab){
    .postid-212{
        .l-header{
            &__content{
                width: 744px;
                height: auto;
            }
        }
    }
        
}


/***************************************************************/
/*********************** メディアクエリ(spw) ********************/ 
/***************************************************************/
@include mixin.mqh(spw){
    .home{
        .l-header__inner{
            .l-header__top{
                padding: 4rem;
            }
    
        }
    
    }
}
@include mixin.mqt(spw){
    .postid-212{
        .nav_top{
            width: 100vw;
            padding: 2.1rem 2.4rem;
            top: 0;
        }
    
        .l-header{
            padding-bottom: 2rem;

            &__content{
                width: 89.57vw;
                margin-top: 4rem;
            }
        }
    }    
}


/***************************************************************/
/*********************** メディアクエリ(sp) ********************/ 
/***************************************************************/
@include mixin.mqt(sp){
    .postid-212{
        .hFour_content{
            width: 65%;    
        }
    }
}