@use "../foundation/mixin";
@use "../foundation/base";


.home{
    main{
        position: relative;
        width: 100%;
        background: #EF9554;
        margin-top: -6.8%;
        padding-bottom: 6.8%;
        &::before{
            position: absolute;
            @include mixin.background_url('lp-top/pc/mountain.png', 905px, 113px);
            right: 0;
            top: -111px;
            filter: drop-shadow(0 -5px 2px rgba(0,0,0,0.25));
        }
        .l-one{
            position: relative;
            width: 1000px;
            margin: 8rem auto;
            display: flex;
            justify-content: space-around;
            .new_tag{
                position: absolute;
                left: -3px;
                top: -3.6rem;
                height: 72px;
                width: 72px;
                font-family: HGSGyoshotai;
                font-size: 54px;
                font-weight: 400;
                color: rgba(235, 20, 20, 1);
                border: 3px solid rgba(235, 20, 20, 1);
                border-radius: 50%;
                line-height: 66px;
                text-indent: 6px;            
            }
        }  
        .l-one:first-of-type{
            margin-top: 2.68rem;
        }
        .l-one:nth-of-type(odd){
            flex-direction: row;
        }
        .l-one:nth-of-type(even){
            flex-direction: row-reverse;
        }  

        .l-cloudy{
            width: 1000px;
            margin: 0 auto;
            padding: 0 4rem;
            text-align: right;
            img{
                width: 700px;
                height: 151px;
                object-fit: cover;
            }
        }
        .l-cloudy:nth-of-type(odd){
            text-align: right;
        }
        .l-cloudy:nth-of-type(even){
            text-align: left;
        }
        .l-cloudy:last-of-type{
            display: none;
        }

    }
}


.single-lp-production{
    color: #000;

    main{
        background: rgba(239, 149, 84, 0.4);
        position: relative;

        .cloudy_wrap{
            width: 100%;
            height: 100%;
            
            .cloud{
                color: rgba(251, 255, 224, 0.6);
                position: absolute;
                width: 15rem;
                height: auto;
                content: '';
                opacity: 0;
                
                &:nth-child(1){
                    animation: oneCloud 20s ease-in 1.5s infinite; 
                    top: 15%;
                }
                &:nth-child(2){
                    animation: twoCloud 20s ease-in 2s infinite; 
                    top: 30%;
                }
                &:nth-child(3){
                    animation: threeCloud 20s ease-in 0.5s infinite;
                    top: 90%; 
                }
                &:nth-child(4){
                    animation: fourCloud 20s ease-in 1s infinite; 
                    top: 65%;
                }
                &:nth-child(5){
                    animation: fiveCloud 20s ease-in 2.5s infinite; 
                    top: 50%;
                }
                &:nth-child(6){
                    animation: sixCloud 20s ease-in 3s infinite;
                    top: 80%; 
                }
    
    
    
                @keyframes oneCloud {
                    0%{
                        transform: translateX(120vw);
                        opacity: 0.5;
                        
                    }
                    100%{
                        transform: translateX(-20vw);
                        opacity: 0.5;
                    }
                }
                @keyframes twoCloud {
                    0%{
                        transform: translateX(120vw);
                        opacity: 0.5;
                    }
                    100%{
                        transform: translateX(-20vw);
                        opacity: 0.5;
                    }
                }
                @keyframes threeCloud {
                    0%{
                        transform: translateX(120vw);
                        opacity: 0.5;
                    }
                    100%{
                        transform: translateX(-20vw);
                        opacity: 0.5;
                    }
                }
                @keyframes fourCloud {
                    0%{
                        transform: translateX(120vw);
                        opacity: 0.5;
                    }
                    100%{
                        transform: translateX(-20vw);
                        opacity: 0.5;
                    }
                }
                @keyframes fiveCloud {
                    0%{
                        transform: translateX(120vw);
                        opacity: 0.5;
                    }
                    100%{
                        transform: translateX(-20vw);
                        opacity: 0.5;
                    }
                }
                @keyframes sixCloud {
                    0%{
                        transform: translateX(120vw);
                        opacity: 0.5;
                    }
                    100%{
                        transform: translateX(-20vw);
                        opacity: 0.5;
                    }
                }
                
            }

        }
        
        
        
        

        .main_wrap{
            width: 1000px;
            margin: 0 auto;
            padding-top: 16rem;
            padding-bottom: 5rem;
            text-shadow: 2px 2px 3px mixin.$main;

            @include mixin.mqp(tab){
                width: 900px;
            }
    
            @include mixin.mqp(tab_s){
                width: 730px;
            }

            @include mixin.mqp(sp){
                width: 420px;
            }

            @include mixin.mqp(sp_s){
                width: 90%;
                padding-top: 10rem;
            }
    
            .title_area{
                h1{
                    text-align: center;

                    @include mixin.mqp(sp){
                        font-size: 2rem;
                    }
                    
                }
    
                span{
                    font-size: 2.2rem;
                    font-weight: 700;
                    padding-left: 5rem;

                    @include mixin.mqp(sp){
                        padding-left: 2rem;
                        font-size: 1.8rem;
                    }
                }
            }
        
            .midashi_area{
                padding: 2rem 5rem;
                position: relative;
                border: 3px solid mixin.$acsent;
                // 画像の切り抜きみたいな影として使える
                filter: drop-shadow(2px 2px 3px mixin.$main);
                text-shadow: none;

                @include mixin.mqp(sp){
                    padding: 2rem 1rem;
                }

                &::after{
                    position: absolute;
                    display: inline-block;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 1.5rem;
                    left: 1.5rem;
                    border: 3px solid rgba(239,186,48,0.2);

                    @include mixin.mqp(tab_s){
                        left: 1rem;
                    }
                }
        
                img{
                    width: 200px;

                    @include mixin.mqp(sp){
                        width: 170px;
                    }

                    @include mixin.mqp(sp_s){
                        width: 150px;
                    }

                }
    
                .midashi_url{
                    height: 6rem;
                }
    
                a{
                    display: block;
                    font-size: 1.6rem;
                    color: mixin.$black;
                }
        
                p{
                    margin-top: 3rem;
                    font-size: 1.6rem;
                }
            }
        
            .sideByside{
                padding: 0 2rem;
                display: flex;
                justify-content: space-around;
                margin-top: 10rem;

                @include mixin.mqp(tab_s){
                    justify-content: space-between;
                }

                @include mixin.mqp(sp){
                    &:nth-child(2n+1){
                        flex-direction: column;
                    }

                    &:nth-child(2n){
                        flex-direction: column-reverse;
                    }
                }

                @include mixin.mqp(sp_s){
                    padding: 0;
                }

                .side_img_wrap{
                    width: 300px;
                    height: 300px;
                    position: relative;

                    @include mixin.mqp(tab_s){
                        width: 250px;
                        height: 250px;
                    }

                    .side_img{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        
            
                        img{
                            border-radius: 5px;
                            width: 100%;
                            height: 100%;
                            transition: 0.5s;
                            object-fit: cover;
                            z-index: 2;
        
                            &:hover{
                                transform: scale(1.2);
                            }

                            @include mixin.mqp(sp_s){
                                width: 95%;
                                height: 95%;
                            }
                            
                        }
                    }
                }
        
                
        
                &:nth-child(2n+1) .side_img_wrap::after{
                    content: '';
                    background: mixin.$black;
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    top: 3rem;
                    right: 2rem;
                    z-index: -1;
                    border-radius: 5px;

                    @include mixin.mqp(sp_s){
                        width: 97%;
                        height: 95%;
                    }
                }
        
                &:nth-child(2n){

                    .side_img_wrap::after{
                        content: '';
                        background: mixin.$black;
                        position: absolute;
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        top: 3rem;
                        left: 2rem;
                        z-index: -1;
                        border-radius: 5px;

                        @include mixin.mqp(sp_s){
                            width: 97%;
                            height: 95%;
                        }
    
                    }
                } 
    
        
                .explain_side{
                    width: 510px;
                    padding-top: 3rem;
                    z-index: 2;

                    @include mixin.mqp(tab_s){
                        width: 390px;
                        padding-top: 0;
                    }

                    @include mixin.mqp(sp_s){
                        width: 100%;
                    }


    
                    h4{
                        position: relative;

                        @include mixin.mqp(sp){
                            margin-top: 4rem;
                        }
    
                        &::before{
                            position: absolute;
                            content: '';
                            display: inline-block;
                            top: -3rem;
                            border: 3px solid mixin.$acsent;
                            border-radius: 3px;
                            background: mixin.$acsent;
                            width: 10rem;
                            box-shadow: 2px 2px 3px mixin.$main;
    
                            @include mixin.mqp(sp){
                                top: 5rem;
                                width: 8rem;
                            }
                        }
                    }
                }
            }
        
        
            .sideByside_2{
                padding: 0 2rem;
                display: flex;
                justify-content: space-between;
                margin-top: 20rem;

                @include mixin.mqp(sp){
                    margin-top: 10rem;
                    flex-direction: column;
                }

                @include mixin.mqp(sp_s){
                    padding: 0;
                }
        
                .vertical{

                    @include mixin.mqp(sp){
                        margin-bottom: 10rem;
                    }

                    .top_img_wrap{
                        width: 300px;
                        height: 300px;
                        position: relative;

                        @include mixin.mqp(tab_s){
                            width: 250px;
                            height: 250px;
                        }

                        .top_img{
                            width: 100%;
                            height: 100%;
                            margin-bottom: 3rem;
                            overflow: hidden;
        
                            img{
                                border-radius: 5px;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-bottom: 3rem;
                                transition: 0.5s;

                                @include mixin.mqp(sp_s){
                                    width: 95%;
                                    height: 95%;
                                }

                                &:hover{
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }

                    &:nth-child(1){
                        margin-left: 4rem;

                        @include mixin.mqp(tab_s){
                            margin-left: 0;
                        }

                        .top_img_wrap::after{
                            content: '';
                            background: mixin.$black;
                            position: absolute;
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            top: 3rem;
                            right: 2rem;
                            z-index: -1;
                            border-radius: 5px;

                            @include mixin.mqp(sp_s){
                                width: 97%;
                                height: 95%;
                            }
                        }
                    } 
            
                    &:nth-child(2){
                        margin-right: 4rem;

                        @include mixin.mqp(tab_s){
                            margin-right: 0;
                        }

                        .top_img_wrap::after{
                            content: '';
                            background: mixin.$black;
                            position: absolute;
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            top: 3rem;
                            left: 2rem;
                            z-index: -1;
                            border-radius: 5px;

                            @include mixin.mqp(sp_s){
                                width: 97%;
                                height: 95%;
                            }
    
                        }
                    } 
        
                    .explain_bottom{
                        width: 300px;
                        margin-top: 6rem;
                        z-index: 2;
                        position: relative;

                        @include mixin.mqp(tab_s){
                            width: 270px;
                        }

                        @include mixin.mqp(sp){
                            width: 100%;
                            margin-top: 4rem;
                        }
    
                        h4{
                            padding-left: 2.5rem;
                            border-left: 3px solid mixin.$acsent;
                            filter: drop-shadow(2px 2px 3px mixin.$main);
                        }

                        p{
                            margin-top: 2rem;
                        }
    
    
                    }
                }
            }
    
            .url_area{
                text-align: right;
                margin-top: 5rem;
                a{
                    
                    padding-right: 3rem;
                    text-decoration: none;
                    font-weight: 700;
                    color: mixin.$black;
    
                    i{
                        padding-left: 0.3rem;
                    }
                }
    
                p{
                    padding-right: 3rem;
                }
            }
    
            .git_area{
                text-align: right;
                margin-top: 2rem;
                a{
                    
                    padding-right: 3rem;
                    text-decoration: none;
                    font-weight: 700;
                    color: mixin.$black;
    
                    i{
                        padding-left: 0.3rem;
                    }
                }
    
                p{
                    padding-right: 3rem;
                }
            }

            .design_area{
                text-align: right;
                margin-top: 2rem;
                a{
                    
                    padding-right: 3rem;
                    text-decoration: none;
                    font-weight: 700;
                    color: mixin.$black;
    
                    i{
                        padding-left: 0.3rem;
                    }
                }
    
                p{
                    padding-right: 3rem;
                }
            }

        }

        .history_back{
            position: fixed;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            line-height: 80px;
            text-align: center;
            right: 5%;
            bottom: 80px;
            background: mixin.$acsent;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
            z-index: 10;
            transition: .5s;
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0.3rem;


            &:hover{
                background: mixin.$acsent_hover;
            }

            @include mixin.mqp(sp){
                width: 60px;
                height: 60px;
                line-height: 60px;
                bottom: 60px;
            }

         }

    }
}

.postid-184{
    main{
        .l-hedding{
            position: relative;

            &::before{
                @include mixin.background_url('cosmetics/l-headding__left.png', 250px, 841px);
                background-repeat: no-repeat;
                background-position: right;
                position: absolute;
                left: 0;
                top: 0;

            }
            &::after{
                @include mixin.background_url('cosmetics/l-headding__right.png', 250px, 841px);
                background-repeat: no-repeat;
                background-position: left;
                position: absolute;
                right: 0;
                top: 0;
            }

            @include mixin.mq(tab){
                &::before{
                    width: 33.6%;
                    background-position: 150% top;
                }
                &::after{
                    width: 33.6%;
                    background-position: -50% top;
                }
            }
            @include mixin.mq(sp){
                &::before,
                &::after{
                    display: none;
                }
            }
    
            &__content{
                text-align: center;
                
                h2{
                    margin-top: 0;
                    margin-bottom: 60px;
                    @include mixin.mq(tab){
                        margin-bottom: 4rem;
                    }
                    @include mixin.mq(sp){
                        margin-bottom: 3rem;
                        line-height: 30px;
                        letter-spacing: 10%;
                    }
                }
                
                p{
                    
                    &:not(:last-child){
                        margin-bottom: 40px;
                        @include mixin.mq(tab){
                            margin-bottom: 30px;
                        }
                    }
                    &:last-child{
                        margin-bottom: 33px;
                        @include mixin.mq(tab){
                            margin-bottom: 85px;
                        }
                        @include mixin.mq(sp){
                            margin-bottom: 0;
                        }
                    }

                    span{
                        line-height: 50px;
                        margin-top: 0;
                        display: inline-block;
                        @include mixin.mq(sp){
                            line-height: 35px;
                        }
                    }
                }
            }
        }

        .l-commodity{
            position: relative;
            margin-top: 8rem;

            @include mixin.mq(tab){
                margin-top: 6rem;
            }

            .l-commodity__before,
            .l-commodity__after{
                position: relative;
                height: 99px;
                img{
                    position: absolute;
                    width: 71.8%;
                    height: 100%;
                    background-size: cover;
                }
                @include mixin.mq(tab){
                    width: 87.4%;
                }
                @include mixin.mq(sp){
                    height: 37px;
                    img{
                        width: 96%;
                    }
                }
            }
            .l-commodity__before{
                img{
                    top: 0;
                }
                @include mixin.mq(tab){
                    width: 100%;
                    img{
                        width: 87%;
                    }
                }
            }
            .l-commodity__after{
                img{
                    bottom: 0;
                    right: 0;
                }
                @include mixin.mq(tab){
                    width: 100%;
                    img{
                        width: 87%;
                    }
                }
            }

            &__content{
                padding-top: 0;
                margin: 6rem auto;
                @include mixin.mq(sp){
                    margin: 3rem auto;
                }
            }

        }

        .l-efficacy{
            width: 830px;
            margin: 0 auto;

            @include mixin.mq(tab){
                width: 96%;
            }

            .l-efficacy__beside{
                position: relative;
                display: flex;
                justify-content: end;

                @include mixin.mq(tab){
                    justify-content: center;
                    width: 91.3%;
                }
                @include mixin.mq(sp){
                    width: 97.1%;
                }

                &:nth-of-type(1){
                    margin-bottom: 6rem;
                    position: relative;
                    @include mixin.mq(tab){
                        height: auto;
                        margin: 0 auto 40px;
                    }

                    img{
                        width: 300px;
                        height: 200px;
                        position: absolute;
                        top: 0;
                        left: 1.7rem;
                        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

                        @include mixin.mq(tab){
                            width: 40%;
                            height: auto;
                            left: 30%;
                            z-index: 3;
                            background-size: contain;
                        }
                        @include mixin.mq(sp){
                            width: 77%;
                            left: 11%;
                        }
                    }

                    &::before{
                        @include mixin.background_url('cosmetics/l-efficacy__before.png', 130px, 238px);
                        position: absolute;
                        top: 66.7%;
                        left: 0;
                        z-index: 5;
                        background-size: cover;

                        @include mixin.mq(tab){
                            width: 12%;
                            height: 31.8%;
                            position: absolute;
                            top: 15.3%;
                            left: -3rem;
                            background-size: contain;

                        }
                        @include mixin.mq(sp){
                            display: none;
                        }
                    }
                }

                &:nth-of-type(3){
                    @include mixin.mq(tab){
                        height: auto;
                        margin: 0 auto 40px;
                    }
                    @include mixin.mq(sp){
                        margin: 0 auto;
                    }

                    img{
                        position: absolute;
                        top: 0;
                        left: 1.7rem;
                        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

                        @include mixin.mq(tab){
                            width: 40%;
                            height: auto;
                            left: 30%;
                            z-index: 3;
                        }
                        @include mixin.mq(sp){
                            width: 77.6%;
                            left: 11%;
                        }
                    }
                }

               
            }
            .l-efficacy__vertical{
                width: 650px;
                margin: 0 auto 6rem;
                padding: 2rem 0;
                border-radius: 15px;
                background: base.$pink;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                position: relative;

                @include mixin.mq(tab){
                    width: 91.3%;
                    margin-bottom: 40px;
                    border-radius: 13px;
                }
                @include mixin.mq(sp){
                    width: 97.1%;
                }

                &::before{
                    @include mixin.background_url('cosmetics/l-efficacy__after.png', 120px, 245px);
                    position: absolute;
                    top: 78%;
                    right: -92px;
                    background-size: cover;

                    @include mixin.mq(tab){
                        width: 13.8%;
                        height: 27.8%;
                        top: 88.3%;
                        right: -4.9%;
                        background-size: contain;
                    }
                    @include mixin.mq(sp){
                        display: none;
                    }
                }
            }
        }

        .l-award{
            margin: 0 auto;
            padding-top: 8rem;
            @include mixin.mq(tab){
                padding-top: 6rem;
            }

            .l-award__top{
                width: 830px;
                margin: 0 auto 6rem;

                img{
                    height: auto;
                    width: 100%;
                    object-fit: cover;
                    background-size: cover;
                }
                
                @include mixin.mq(tab){
                    width: 96%;
                    img{
                        object-fit: contain;
                    }
                }
                @include mixin.mq(sp){
                    width: 93.3%;
                }
            }
            &__swiper{
                display: block;
                width: 100%;
                height: 562px;
                margin-bottom: 6rem;

                .swiper-pagination{
                    bottom: 20px;
                }
                .swiper-button-prev{
                    left: 20px;
                    &::after{
                        font-family: 'Font Awesome 5 Free';
                        content: '\f053';
                        font-weight: 900;
                        color: rgba(82, 2, 163, 0.5);
                    }
                }
                .swiper-button-next{
                    right: 20px;
                    &::after{
                        font-family: 'Font Awesome 5 Free';
                        content: '\f054';
                        font-weight: 900;
                        color: rgba(82, 2, 163, 0.5);
                    }
                }

                @include mixin.mq(sp){
                    margin-bottom: 3.5rem;
                    height: auto;

                    .swiper-pagination{
                        bottom: 0;
                        padding-top: 15px;
                        position: relative;
                    }
                }
            }
        }

        .l-sale{
            margin-bottom: 12rem;
            @include mixin.mq(sp){
                margin-bottom: 0;
            }

            &__content{
                width: 777px;
                margin: 0 auto;

                @include mixin.mq(tab){
                    width: 100%;
                }
                
            }
        }

        // 境界線の曲線
        .l-arc{
            overflow: hidden;
            background: base.$pink;

            .l-arc__content{
                background: #fff;
                min-height: 154px;
                border-bottom-right-radius: 50% 154px;
                border-bottom-left-radius: 50% 154px;
                margin-left: -200px;
                margin-right: -200px;
                padding-left: 200px;
                padding-right: 200px;

                @include mixin.mq(sp){
                    min-height: 124px;
                    border-bottom-right-radius: 75% 124px;
                    border-bottom-left-radius: 75% 124px;
                }
            }
        }

        
    }

}


.postid-212{
    .l-size{
        &__content{
            @include mixin.background_url('tento/pc/l-size__background.jpg', 100%, auto);
            position: relative;

            .sectionContent{
                padding: 40px 50px;
            }    
        }
    }

    .l-durability{
        &__content{
            @include mixin.background_url('tento/pc/l-durability__background.jpg', 100%, auto);
            position: relative;

            .sectionContent{
                padding: 40px 40px 60px;
            }    
            
        }
    }

    .l-setup{
        &__content{
            @include mixin.background_url('tento/pc/l-setup__background.jpg', 100%, auto);
            position: relative;
            .sectionContent{
                padding: 50px;
                width: 785px;
            }
        }
    }

    .l-detail{
        @include mixin.background_url('tento/pc/l-detail__background.png', 100%, auto);
        .sectionContent{
            background: none;
            opacity: 0;
            transform: translateY(30px);
            transition: opacity 1.5s, transform 1s;
        }
        .active{
            opacity: 1;
            transform: translateY(0);
        }
    }

    .l-apply{
        
        &__cachback{
            @include mixin.background_url('tento/pc/l-apply__background.png', 100%, auto);
            position: relative;
            background-size: cover;           
            span{
                position: absolute;
                top: 8rem;
                left: 8.1rem;
                font-family: 'Elephant','Brush Script MT', base.$georgia, 'Times New Roman', 'Times', 'serif';
                color: #fff;
                font-size: 46px;
                font-weight: 400;
                line-height: 50px;
                letter-spacing: 0.05em;
            }
        }
        &__procedure{
            width: 750px;
            margin: 0 auto;
            padding: 8rem 0 17.7rem;
            opacity: 0;
            transform: translateY(30px);
            transition: opacity 1.5s, transform 1s;
 
            .c-proImg{
                width: 100%;
                height: 100%;
            }

            .c-btnWrap{
                margin: 0 auto;
            }
        }
        .active{
            opacity: 1;
            transform: translateY(0);
        }
    }


    .l-event{
        &__title{
            position: relative;
            height: 216px;
            h2{
                font-family: Georgia;
                font-size: 66px;
                font-weight: 700;
                line-height: 78px;
                letter-spacing: 0em;
                text-align: center;
                padding-top: 3.1rem;
                @include mixin.background_url('tento/pc/eventTitle_bg.jpg', 100%, auto);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .c-sectionTitle{
                display: block;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 40px;
                letter-spacing: 0em;
                color: #333;
                padding-top: 8px;
            }


            &::before{
                position: absolute;
                width: 100%;
                height: 96px;
                top: 0;
                left: 0;
                background: #D9D9D9;
                content:"";
                display: block;
                z-index: -1;
            }
            &::after{
                position: absolute;
                width: 100%;
                height: 120px;
                top: 96px;
                left: 0;
                background: base.$linear_gold;
                content:"";
                display: block;
                z-index: -1;
            }
        }

        &__pickup{
            width: 100%;

            .active{
                opacity: 1;
                transform: translateY(0);
            }
        }
        &__schedule{
            @include mixin.background_url('tento/pc/l-event__background.jpg', 100%, auto);
            background-size: cover;

            h4{
                width: 284px;
                margin-left: 11.5px;
                margin-bottom: 4rem;
                text-align: center;
                position: relative;
                font-size: 24px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0em;

                &::before{
                    @include mixin.vertical_center;
                    height: 1px;
                    width: 46px;
                    left: 0;
                    content: "";
                    display: block;
                    background: rgba(0, 0, 0, 1);
                }
                &::after{
                    @include mixin.vertical_center;
                    height: 1px;
                    width: 46px;
                    right: 0;
                    content: "";
                    display: block;
                    background: rgba(0, 0, 0, 1);
                }
            }
        }
    }

    .l-lineup{
        &__slide{
            opacity: 0;
            transform: translateY(30px);
            transition: opacity 1.5s, transform 1s;
            .swiper-wrapper{
                padding: 8rem 0;
                margin-bottom: 10rem;
            }

            .swiper-button-prev,
            .swiper-button-next{
                color: rgba(0, 0, 0, 0.25);
                filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));

            }

            .swiper-button-prev{
                @include mixin.background_url('tento/pc/left.png', 32px, 54px);
                left: 64px;
                top: 43%;
                &::after{
                    display: none;
                }
            }
            .swiper-button-next{
                @include mixin.background_url('tento/pc/right.png', 32px, 54px);
                right: 64px;
                top: 43%;
                &::after{
                    display: none;
                }
            }
            .swiper-pagination{
                bottom: 110px;
            }
            
        }

        .active{
            opacity: 1;
            transform: translateY(0);
        }
    }
}


/***************************************************************/
/*********************** メディアクエリ(tab) ********************/ 
/***************************************************************/
@include mixin.mqh(tab){
    .home{
        main{
            &::before{
                @include mixin.background_url('lp-top/tab/mountain_tab.png', 386.2px, 48.2px);
                top: -45px;
            }
            .l-one{
                width: 703px;
            }
            .l-cloudy{
                width: 703px;
                img{
                    width: 70%;
                    height: auto;
                }
            }
        } 
    }
}

@include mixin.mqt(tab){
    .postid-212{
    
        .l-durability{
            &__content{
    
                .sectionContent{
                    width: 744px;
                    padding-left: 20px;
                    padding-right: 68px;
                }    
                
            }
        }
    
        .l-setup{
            &__content{    
                .sectionContent{
                    width: 626px;
                }
            }
        }

        .l-detail{
            padding-bottom: 0;
        }
    
        .l-apply{            
            &__cachback{
                padding-bottom: 0;
            }
            &__procedure{
                width: 626px;
            }
        }
    }
}


/***************************************************************/
/*********************** メディアクエリ(spw) ********************/ 
/***************************************************************/
@include mixin.mqh(spw){
    .home{
        main{
            #lOne{
                width: 82vw;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .l-cloudy{
                width: 82vw;
                padding: 0;
            }
        }
    }
}

@include mixin.mqt(spw){
    .postid-212{
        .l-durability{
            &__content{
                .sectionContent{
                    width: 89.57vw;
                    padding-right: 0;
                    padding-left: 0;
                    background: transparent;
                }    
                
            }
        }
    
        .l-setup{
            &__content{
                width: 100%;
                padding: 1.2rem;
                .sectionContent{
                    width: 80vw;
                    padding: 2rem;
                }
            }
        }

        .l-apply{
            &__procedure{
                width: 93.3%;
            }
        }

        .l-event{
            background: base.$linear_gold;
            &__title{
                &::before{
                    z-index: 0;
                }
                h2{
                    font-size: 4.2rem;
                    top: 1rem;
                    position: relative;    
                }
                &::after{
                    background: transparent;
                }

                    
            }
            &__pickup{
                background: transparent;  
                padding: 0; 

                .pu_wrap{
                    width: 89.57vw;
                    margin: 0 auto;
                }
            }
            &__schedule{
                background-position: 65%;
            }
        }

        .l-lineup__slide{
            .swiper-button-prev{
                left: 2.4rem;
            }
            .swiper-button-next{
                right: 2.4rem;
            }
        }
    
    }
}


/***************************************************************/
/*********************** メディアクエリ(sp) ********************/ 
/***************************************************************/
@include mixin.mqh(sp){
    .home{
        main{
            &::before{
                @include mixin.background_url('lp-top/sp/mountain_sp.png', 181px, 22.6px); 
                top: -21px;
            }
            #lOne{
                width: 82.9vw;
                margin: 6rem auto;
            }
            #lOne:first-of-type{
                margin-top: 2.68rem;
            }
            #lOne:last-of-type{
                margin-bottom: 34.5px;
            }
            .l-cloudy{
                width: 82.9vw;
            }
        }
    }
}
@include mixin.mqt(sp){
    .postid-212{
        .l-size{
            &__content .sectionContent{
                background: transparent;
                padding: 4rem 4.5rem;
            }
        }

        .l-durability__content{
            .sectionContent{
                padding: 4rem 0;
            }
            
        }

        .l-setup__content{
            .sectionContent{
                width: 87.2%;
                padding: 8px 12px;
            }
        }
        .l-detail__content{
            padding-top: 4rem;
        }

        .l-apply__cachback{
            span{
                display: none;
            }
        }

        .l-apply__procedure{
            width: 87.7%;
            min-width: 260px;
            padding-bottom: 13.4rem;
        }
        .l-event__title{
            height: 160px;
            &::before{
                height: 70px;
            }
            h2{
                font-size: 3.2rem;
                line-height: 1.8em;
                padding-top: 1.8rem;
            }
        }
        .l-event__pickup{
            .pu_wrap{
                width: 93.3vw;
            }
        }

        .l-lineup__slide{
            width: 87.2%;
            padding: 0 2rem;
            box-sizing: border-box;

            .swiper-button-prev,
            .swiper-button-next{
                width: 2.4rem;
                height: 4rem;
                background-size: contain;
                transform: translateY(-30%);
                z-index: 1;
                padding: 0;
            }
            .swiper-button-prev{
                left: 5px; 
            }
            .swiper-button-next{
                right: 5px; 
            }

        }

    }
}


